<template>
  <section id="classroom">
    <b-row class="mb-2">
      <!-- Navigation Tab -->
      <b-col lg="12">
        <b-tabs pills class="profile-tabs mt-1 mt-md-0" nav-class="mb-0">
          <template #tabs-start>
            <b-nav-item
              v-for="(navtab, index) in navTabs"
              :key="index"
              :active="currentTab === index"
              class="font-weight-bold"
              @click="currentTab = index"
            >
              <span class="d-none d-md-block">{{ navtab }}</span>
            </b-nav-item>
          </template>
        </b-tabs>
      </b-col>
    </b-row>

    <!-- Loading Classroom List-->
    <b-row v-if="loadClassroom">
      <b-col class="d-flex justify-content-center mt-4">
        <div class="text-center mt-4">
          <b-spinner variant="primary" class="mr-1" />
          <p class="mt-1">
            Memuat Daftar Kelas
          </p>
        </div>
      </b-col>
    </b-row>

    <!-- Classroom List -->
    <b-row v-if="!loadClassroom && filteredClassroom.length > 0">
      <b-col v-for="classroom in filteredClassroom" :key="classroom.id" lg="4">
        <class-card
          @trigger-modal="triggerModal"
          :variant="classroom.isTaken ? 'enrolled' : 'open'"
          :classroom-data="classroom"
        />
      </b-col>
    </b-row>

    <!-- Classroom Empty State -->
    <b-row v-if="!loadClassroom && filteredClassroom.length === 0">
      <b-col class="d-flex justify-content-center mt-4">
        <div class="text-center pt-2">
          <b-img class="illustration-small" fluid :src="emptyState" />
          <p class="mb-2">
            Anda belum mengajar kelas manapun.
          </p>
          <b-button
            variant="primary"
            class="mb-1 btn-sm-block"
            :to="{ name: checkAuthorizeRole('classroom-add') }"
            >Buat Kelas Baru</b-button
          >
        </div>
      </b-col>
    </b-row>

    <!-- Enroll Modal -->
    <enroll-card :classroomData="selectedClassroom" />
  </section>
</template>

<script>
import axios from 'axios'
import { checkAuthorizeRole } from '@/auth/utils'
import {
  BRow,
  BCol,
  BTabs,
  BNavItem,
  BSpinner,
  BButton,
  BImg,
} from 'bootstrap-vue'
import ClassCard from '@core/layouts/components/card/class-card/ClassCard.vue'
import EnrollCard from '@core/layouts/components/card/enroll-card/EnrollCard.vue'

export default {
  components: {
    BRow,
    BCol,
    BTabs,
    BNavItem,
    ClassCard,
    EnrollCard,
    BSpinner,
    BButton,
    BImg,
  },
  data() {
    return {
      loadClassroom: true,
      emptyState: require('@/assets/images/illustration/empty-classroom-state.svg'),
      currentTab: 0,
      navTabs: ['Kelas Diampu'],
      selectedClassroom: {},
      allClassrooms: [],
      takenClassrooms: [],
    }
  },
  computed: {
    filteredClassroom() {
      const tempClassrooms = this.allClassrooms
      return tempClassrooms.filter((classroom) => {
        if (this.currentTab === 0) {
          return classroom.isTaken
        }
        return classroom
      })
    },
  },
  async created() {
    const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`
    const params = {
      per_page: 1000,
      search: '',
    }
    const config = {
      headers: {
        Accept: 'application/json',
        Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
      },
      params,
    }

    const userId = JSON.parse(localStorage.getItem('userData')).id

    // Get all classroom
    await axios.get(`${baseUrl}/classrooms`, config).then((response) => {
      this.allClassrooms = response.data.data.data
    })

    // mapping all classroom
    this.allClassrooms.map((classroom) => {
      if (classroom.teacher.id === userId) {
        classroom.pivotStudentClassroomId = classroom.id
        classroom.isTaken = true
      } else {
        classroom.pivotStudentClassroomId = classroom.id
        classroom.isTaken = false
      }
    })

    // set loadClassroom to false
    this.loadClassroom = false
  },
  methods: {
    triggerModal(subjectData) {
      this.selectedClassroom = subjectData
      this.$bvModal.show('enroll-modal')
    },
    checkAuthorizeRole,
  },
}
</script>

<style lang="scss">
.subject-icon {
  font-size: 2rem;
}

#enroll-modal {
  .modal-body {
    padding: 1.5rem 2rem;
  }

  .modal-footer {
    display: none !important;
  }
}

.illustration-small {
  height: 300px;
  object-fit: cover;
}
</style>
