<template>
  <div>
    <b-row>
      <b-col md="12">
        <b-card>
          <!-- Header -->
          <div class="d-flex align-items-center line-height-1 pb-2 ">
            <i class="text-primary ti ti-settings small-gap-right" />
            <h4 class="text-primary mb-0">Pengaturan Kelas</h4>
          </div>

          <!-- Classroom Configuration -->
          <div class="d-flex pb-2 border-bottom">
            <b-avatar
              :src="blobImage !== '' ? blobImage : classroomContent.image"
              :text="avatarText('Kelas')"
              :variant="`light-primary`"
              size="104px"
              rounded
            />
            <div class="ml-1 d-flex flex-column justify-content-center">
              <div class="d-flex mb-1">
                <input
                  accept="image/png, image/jpg, image/jpeg"
                  ref="file"
                  type="file"
                  style="display: none"
                  @change="onFileChange"
                />
                <b-button
                  variant="outline-primary small-gap-right"
                  @click="$refs.file.click()"
                >
                  Upload Foto Baru
                </b-button>
              </div>
              <span>Uploud foto kelas format jpg/png maks. 800kb</span>
            </div>
          </div>

          <!-- Classroom Config -->
          <div class="mt-2">
            <b-row>
              <b-col lg="6" class="mb-1">
                <label class="d-block">Nama Kelas</label>
                <b-form-input
                  id="classroom-name"
                  v-model="formData.classroomName"
                  placeholder="Masukkan Nama Kelas"
                  :state="formErrors.classroomName.state"
                />
                <b-form-invalid-feedback
                  v-show="!formErrors.classroomName.state"
                >
                  {{ formErrors.classroomName.message }}
                </b-form-invalid-feedback>
              </b-col>
              <b-col lg="6" class="mb-1">
                <label class="d-block">Icon Kelas</label>
                <b-avatar
                  v-for="icon in iconList"
                  :key="icon"
                  class="small-gap-right pointer"
                  :variant="
                    formData.selectedIcon === icon
                      ? 'light-success'
                      : 'light-secondary'
                  "
                  rounded=""
                >
                  <i
                    class="card-icon ti"
                    :class="icon"
                    @click="formData.selectedIcon = icon"
                  />
                </b-avatar>
              </b-col>
              <b-col lg="12" class="mb-1">
                <label class="d-block">Deskripsi Kelas</label>
                <b-form-textarea
                  id="textarea-no-resize"
                  placeholder="Deskripsi Kelas"
                  rows="3"
                  no-resize
                  v-model="formData.classroomDescription"
                  :state="formErrors.classroomDescription.state"
                />
                <b-form-invalid-feedback
                  v-show="!formErrors.classroomDescription.state"
                >
                  {{ formErrors.classroomDescription.message }}
                </b-form-invalid-feedback>
              </b-col>
              <b-col lg="12" class="mb-1">
                <label class="d-block">Tipe Kelas</label>
                <div class="d-flex align-items-center">
                  <b-form-checkbox
                    v-model="isOpenClass"
                    @change="isOpenClassChange"
                    name="check-button"
                    switch
                    inline
                    class="mr-0"
                  />
                  <span class="-mr-1 line-height-small">
                    Terbuka
                  </span>
                </div>
              </b-col>
              <b-col lg="12" class="mb-1" v-show="!isOpenClass">
                <label class="d-block">Kata Sandi Kelas</label>
                <b-form-input
                  id="classroom-name"
                  v-model="formData.classroomEnrollKey"
                  placeholder="Masukan Kata Sandi Kelas"
                />
              </b-col>
              <b-col lg="12" class="mb-1">
                <label class="d-block">Jadwal Kelas</label>
                <b-form-group :state="formErrors.classroomSchedule.state">
                  <v-select
                    v-model="formData.classroomSchedule"
                    label="title"
                    :options="schedules"
                  />
                </b-form-group>
                <div
                  v-show="!formErrors.classroomSchedule.state"
                  class="invalid-feedback"
                >
                  {{ formErrors.classroomSchedule.message }}
                </div>
              </b-col>
              <b-col lg="12">
                <label class="d-block">Kelas Mulai</label>
                <b-form-group :state="!formErrors.classroomStartDate.state">
                  <flat-pickr
                    v-model="formData.classroomStartDate"
                    class="form-control"
                    :class="{
                      'is-invalid': formErrors.classroomStartDate.state,
                    }"
                    :config="{
                      altInput: true,
                      altFormat: 'j F Y',
                      dateFormat: 'Y-m-d',
                      minDate: 'today',
                    }"
                  />
                </b-form-group>
                <div
                  v-show="!formErrors.classroomStartDate.state"
                  class="invalid-feedback"
                >
                  {{ formErrors.classroomStartDate.message }}
                </div>
              </b-col>
            </b-row>
            <div>
              <b-button
                variant="primary"
                class="float-right"
                @click="submitForm"
              >
                <div class="d-flex align-items-center ">
                  <b-spinner
                    v-show="isLoading"
                    class="mr-1"
                    variant="light"
                    small
                  />
                  Simpan
                </div>
              </b-button>
            </div>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BAvatar,
  BBadge,
  BPagination,
  BFormInput,
  BFormGroup,
  BFormCheckbox,
  BFormTextarea,
  BFormInvalidFeedback,
  BSpinner,
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { avatarText, pascalCase } from '@core/utils/filter'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { checkAuthorizeRole } from '@/auth/utils'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    BAvatar,
    BBadge,
    BPagination,
    BFormInput,
    BFormGroup,
    BFormCheckbox,
    BFormTextarea,
    BFormInvalidFeedback,
    BSpinner,
    vSelect,
    flatPickr,
  },
  directives: {
    Ripple,
  },
  props: {
    classroomContent: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      // Initial Data
      classroomId: this.$router.currentRoute.params.id,

      // Form Data
      isLoading: false,
      isOpenClass: false,
      blobImage: '',
      formErrors: {
        classroomName: { state: null, message: '' },
        classroomDescription: { state: null, message: '' },
        classroomSchedule: { state: null, message: '' },
        classroomStartDate: { state: null, message: '' },
      },
      iconList: [
        'ti-book',
        'ti-calculator',
        'ti-map-search',
        'ti-flag',
        'ti-history',
        'ti-affiliate',
      ],
      schedules: [
        'Senin',
        'Selasa',
        'Rabu',
        'Kamis',
        'Jumat',
        'Sabtu',
        'Minggu',
      ],
      formData: {
        classroomName: '',
        selectedIcon: 'ti-book',
        classroomEnrollKey: '',
        classroomLogo: '',
        classroomSchedule: '',
        classroomDescription: '',
        classroomStartDate: '',
        schoolId: '',
      },
    }
  },
  computed: {},
  methods: {
    showToast(variant, icon, title, message) {
      this.$toast({
        component: ToastificationContent,
        props: {
          title,
          icon,
          text: message,
          variant,
        },
      })
    },
    onFileChange(e) {
      const file = e.target.files[0]
      this.formData.classroomLogo = file
      this.blobImage = URL.createObjectURL(file)
    },
    pascalCase,
    avatarText,
  },
  mounted() {
    this.formData.schoolId = JSON.parse(
      localStorage.getItem('userData')
    ).school_id
  },
}
</script>

<style lang="scss" scoped>
.small-gap-right {
  margin-right: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}

.border-light-secondary {
  border: 1px solid #efefef !important;
}

.is-invalid {
  border-color: #ea5455 !important;
}

.collapse-default {
  .card {
    // border-bottom: none !important;
  }
  .material-card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #efefef !important;
    border-radius: 0.428rem;

    .card-body {
      padding: 1.5rem;
    }
  }
}
</style>
