<template>
  <b-card no-body class="card-activity">
    <b-card-header>
      <div>
        <b-card-title>
          <i class="ti ti-list-details mr-1"></i>
          Aktivitas
        </b-card-title>
      </div>

      <b-dropdown
        variant="link"
        no-caret
        class="chart-dropdown"
        toggle-class="p-0"
      >
        <template #button-content>
          <feather-icon
            icon="MoreVerticalIcon"
            size="18"
            class="text-body cursor-pointer"
          />
        </template>
        <b-dropdown-item href="#">
          Last 28 Days
        </b-dropdown-item>
        <b-dropdown-item href="#">
          Last Month
        </b-dropdown-item>
        <b-dropdown-item href="#">
          Last Year
        </b-dropdown-item>
      </b-dropdown>
    </b-card-header>

    <!-- body -->
    <b-card-body>
      <app-timeline>
        <app-timeline-item class="pb-0" variant="primary">
          <div
            class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0"
          >
            <h6>{{ data.step1.title }}</h6>
            <small class="timeline-item-time text-nowrap text-muted ml-1">{{
              data.step1.duration
            }}</small>
          </div>
          <p>{{ data.step1.subtitle }}</p>
          <b-media no-body>
            <b-media-aside class="mr-1">
              <b-img
                :src="data.step1.img"
                height="23"
                :alt="data.step1.fileName"
              />
            </b-media-aside>
            <b-media-body class="my-auto">
              <h6 class="media-body mb-0">
                {{ data.step1.fileName }}
              </h6>
            </b-media-body>
          </b-media>
        </app-timeline-item>

        <app-timeline-item class="pb-0" variant="success">
          <div
            class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0"
          >
            <h6>{{ data.step1.title }}</h6>
            <small class="timeline-item-time text-nowrap text-muted ml-1">{{
              data.step1.duration
            }}</small>
          </div>
          <p>{{ data.step1.subtitle }}</p>
          <b-media no-body>
            <b-media-aside class="mr-1">
              <b-img
                :src="data.step1.img"
                height="23"
                :alt="data.step1.fileName"
              />
            </b-media-aside>
            <b-media-body class="my-auto">
              <h6 class="media-body mb-0">
                {{ data.step1.fileName }}
              </h6>
            </b-media-body>
          </b-media>
        </app-timeline-item>

        <app-timeline-item class="pb-0" variant="danger">
          <div
            class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0"
          >
            <h6>{{ data.step1.title }}</h6>
            <small class="timeline-item-time text-nowrap text-muted ml-1">{{
              data.step1.duration
            }}</small>
          </div>
          <p>{{ data.step1.subtitle }}</p>
          <b-media no-body>
            <b-media-aside class="mr-1">
              <b-img
                :src="data.step1.img"
                height="23"
                :alt="data.step1.fileName"
              />
            </b-media-aside>
            <b-media-body class="my-auto">
              <h6 class="media-body mb-0">
                {{ data.step1.fileName }}
              </h6>
            </b-media-body>
          </b-media>
        </app-timeline-item>

        <app-timeline-item class="pb-0" variant="warning">
          <div
            class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0"
          >
            <h6>{{ data.step1.title }}</h6>
            <small class="timeline-item-time text-nowrap text-muted ml-1">{{
              data.step1.duration
            }}</small>
          </div>
          <p>{{ data.step1.subtitle }}</p>
          <b-media no-body>
            <b-media-aside class="mr-1">
              <b-img
                :src="data.step1.img"
                height="23"
                :alt="data.step1.fileName"
              />
            </b-media-aside>
            <b-media-body class="my-auto">
              <h6 class="media-body mb-0">
                {{ data.step1.fileName }}
              </h6>
            </b-media-body>
          </b-media>
        </app-timeline-item>
      </app-timeline>
    </b-card-body>
    <!--/ body -->
  </b-card>
</template>

<script>
import {
  BAvatar,
  BCard,
  BCardHeader,
  BCardTitle,
  BCardBody,
  BMedia,
  BMediaAside,
  BMediaBody,
  BDropdown,
  BDropdownItem,
  BCardText,
  BImg,
} from 'bootstrap-vue'

import AppTimeline from '@core/components/app-timeline/AppTimeline.vue'
import AppTimelineItem from '@core/components/app-timeline/AppTimelineItem.vue'

// import { $themeColors } from '@themeConfig'
// const $trackBgColor = '#e9ecef'

export default {
  components: {
    BAvatar,
    BCard,
    BCardHeader,
    BCardTitle,
    BCardBody,
    BMedia,
    BMediaAside,
    BMediaBody,
    BDropdown,
    BDropdownItem,
    AppTimeline,
    AppTimelineItem,
    BCardText,
    BImg,
  },
  data() {
    return {
      subjectData: [
        {
          subjectImg: 'ti-3d-cube-sphere',
          name: 'Matematika',
          percentage: 100,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-3d-cube-sphere',
          name: 'Geografi',
          percentage: 60,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-3d-cube-sphere',
          name: 'Sejarah',
          percentage: 50,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-3d-cube-sphere',
          name: 'Ilmu Olahraga',
          percentage: 80,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-3d-cube-sphere',
          name: 'Seni',
          percentage: 80,
          task: '2 Tugas',
        },
      ],
      data: {
        step1: {
          title: '12 Invoices have been paid',
          subtitle: 'Invoices have been paid to the company.',
          duration: '12 min ago',
        },
        step2: {
          title: 'Client Meeting',
          subtitle: 'Project meeting with john @10:15am',
          duration: '45 min ago',
        },
        step3: {
          title: 'Create a new project for client',
          subtitle: 'Add files to new design folder',
          duration: '2 day ago',
        },
        step4: {
          title: 'Create a new project for client',
          duration: '5 day ago',
          subtitle: 'Add files to new design folder',
        },
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.card-activity .card-header {
  min-height: 84px;
}

.progress-wrapper {
  width: 50%;
  float: right;
  align-self: start;
  margin-top: 5px;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}
</style>
