<template>
  <div>
    <b-card
      :img-src="
        classroomData.image
          ? classroomData.image
          : require('@/assets/images/slider/04.jpg')
      "
      img-alt="classroom image"
      img-top
    >
      <div class="class-wrapper">
        <b-media no-body class="w-40">
          <b-media-aside class="mr-1">
            <b-avatar variant="light-primary" icon="">
              <i :class="classroomData.logo" class="font-medium-2 ti" />
            </b-avatar>
          </b-media-aside>
          <b-media-body>
            <span
              class="font-weight-bold d-block text-nowrap align-self-center"
            >
              {{ classroomData.name }}
            </span>
            <span class="font-small-2 text-muted">
              {{ classroomData.task || 0 }} Tugas
            </span>
          </b-media-body>
        </b-media>
        <div class="w-50" v-if="variant === 'enrolled'">
          <span
            class="font-small-2 text-muted ml-50 w-20 float-right text-right"
          >
            {{ classroomData.progress || 0 }}%
          </span>
          <div class="progress-wrapper w-60">
            <b-progress
              :value="classroomData.progress"
              max="100"
              variant="primary"
              height="8px"
            />
          </div>
        </div>

        <div class="w-50 text-right" v-if="variant === 'open'">
          <b-button
            v-ripple.400="'rgba(113, 102, 240, 0.15)'"
            variant="primary"
            @click="onClickEnrollButton(classroomData)"
          >
            <i class="ti ti-circle-plus"></i>
            Daftar Kelas
          </b-button>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <b-media vertical-align="center">
          <template #aside>
            <b-avatar
              size="32"
              :src="classroomData.teacher.avatar"
              :text="avatarText(classroomData.teacher.name)"
              variant="light-primary"
            />
          </template>
          <span class="font-weight-bold d-block text-nowrap">
            {{ classroomData.teacher.name }}
          </span>
          <b-button
            v-b-tooltip.hover.bottom
            :title="classroomData.teacher.id"
            variant="flat-secondary"
            class="text-left disable-hover p-0"
          >
            <small class="ellipsis max-width-flexible d-block text-muted"
              >NIP. {{ classroomData.teacher.id }}</small
            >
          </b-button>
        </b-media>
        <!-- TODO: Change this based on class id -->
        <b-button
          v-if="variant === 'enrolled'"
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="primary"
          :to="{
            name: checkAuthorizeRole('classroom-detail'),
            params: { id: classroomData.pivotStudentClassroomId },
          }"
        >
          <i class="ti ti-chevron-right"></i>
        </b-button>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BAvatar,
  BCard,
  BButton,
  BMedia,
  BMediaAside,
  BMediaBody,
  BProgress,
  VBTooltip,
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'

import { avatarText } from '@core/utils/filter'
import { checkAuthorizeRole } from '@/auth/utils'

export default {
  components: {
    BAvatar,
    BCard,
    BButton,
    BMedia,
    BMediaAside,
    BMediaBody,
    BProgress,
  },
  directives: {
    'b-tooltip': VBTooltip,
    Ripple,
  },
  props: {
    variant: {
      type: String,
      required: true,
    },
    classroomData: {
      type: Object,
      required: false,
    },
  },
  methods: {
    onClickEnrollButton(classroomData) {
      this.$emit('trigger-modal', classroomData)
    },
  },
  setup() {
    return {
      avatarText,
      checkAuthorizeRole,
    }
  },
}
</script>

<style lang="scss" scoped>
.class-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.progress-wrapper {
  width: 50%;
  float: right;
  align-self: start;
  margin-top: 5px;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.max-width-flexible {
  max-width: calc(100% - 2rem);
}

@media screen and (max-width: 1100px) {
  .max-width-flexible {
    max-width: calc(40% - 2rem);
  }
}

.d-block {
  display: block;
}

.disable-hover:hover,
.disable-hover:focus {
  background-color: inherit !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
</style>
