<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1"
    />

    <!-- Splash Screen/Loader Styles -->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css" />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css"
    />

    <title>SIOSS</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but something doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="loading-bg">
      <div class="loading-logo">
        <!-- <img src="logo.png" alt="Logo" /> -->
      </div>
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
