<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="imgUrl" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <!-- <b-img fluid class="my-1 small-logo" :src="appLogoImage" alt="logo" /> -->
          <b-card-title class="mb-1 font-weight-bold" title-tag="h3">
            Selamat Datang di {{ appName }} ! 👋
          </b-card-title>
          <b-card-text class="mb-2">
            Silahkan login dengan akun yang telah terdaftar
          </b-card-text>

          <!-- form -->
          <validation-observer ref="loginForm" #default="{ invalid }">
            <b-form class="auth-login-form mt-2" @submit.prevent="login">
              <!-- email -->
              <b-form-group label="Alamat Email" label-for="login-email">
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="login-email"
                    v-model="userEmail"
                    :state="errors.length > 0 ? false : null"
                    name="login-email"
                    placeholder="john@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">Kata Sandi</label>
                  <b-link :to="{ name: 'auth-forgot-password' }">
                    <small>Lupa Kata Sandi?</small>
                  </b-link>
                </div>
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="login-password"
                      v-model="password"
                      :state="errors.length > 0 ? false : null"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      name="login-password"
                      placeholder="Password"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        class="cursor-pointer"
                        :icon="passwordToggleIcon"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- checkbox -->
              <b-form-group>
                <b-form-checkbox
                  id="remember-me"
                  v-model="status"
                  name="checkbox-1"
                >
                  Ingat Saya
                </b-form-checkbox>
              </b-form-group>

              <!-- submit buttons -->
              <b-button
                type="submit"
                variant="primary"
                block
                :disabled="invalid"
              >
                <b-spinner v-if="isLoading" small class="mr-1" />
                <span v-if="!isLoading"> Masuk</span>
              </b-button>
            </b-form>
          </validation-observer>

          <b-card-text class="text-center mt-2">
            <span>Belum memiliki akun? </span>
            <b-link :to="{ name: 'auth-register' }">
              <span>&nbsp;Hubungi Admin Sekolah</span>
            </b-link>
          </b-card-text>
        </b-col>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
  BSpinner,
  VBTooltip,
} from 'bootstrap-vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import { $themeConfig } from '@themeConfig'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import store from '@/store/index'
import { checkAuthorizeRole } from '@/auth/utils'
// import { getHomeRouteForLoggedInUser } from '@/auth/utils'

import useJwt from '@/auth/jwt/useJwt'
import axios from 'axios'

export default {
  directives: {
    'b-tooltip': VBTooltip,
  },
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BSpinner,
    BButton,
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      isLoading: false,
      status: '',
      password: 'sp@mail.com',
      userEmail: 'sp@mail.com',
      sideImg: require('@/assets/images/illustration/login-illustration.svg'),
      // validation rules
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        this.sideImg = require('@/assets/images/illustration/login-illustration.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  methods: {
    showToast(variant, icon, title, message) {
      this.$toast({
        component: ToastificationContent,
        props: {
          title,
          icon,
          text: message,
          variant,
        },
      })
    },
    login() {
      this.isLoading = true
      this.$refs.loginForm.validate().then((success) => {
        if (success) {
          const url = `${process.env.VUE_APP_BASE_API_URL}/auth/login`
          const config = {
            headers: {
              'Content-Type': 'application/json',
            },
            timeout: 5000,
          }
          const data = {
            email: this.userEmail,
            password: this.password,
          }

          // useJwt
          //   .login(url, data)
          //   .then((response) => {
          //     this.isLoading = false
          //     let userData = response.data.data.user
          //     useJwt.setToken(response.data.data.token)
          //     // useJwt.setRefreshToken(response.data.refreshToken)

          //     const userAbility = [
          //       {
          //         action: 'manage',
          //         subject: 'all',
          //       },
          //     ]

          //     userData = {
          //       ...userData,
          //       ability: userAbility,
          //     }

          //     localStorage.setItem('userData', JSON.stringify(userData))
          //     this.$ability.update(userData.ability)

          //     // ? This is just for demo purpose. Don't think CASL is role based in this case, we used role in if condition just for ease
          //     this.$router
          //       .replace({ name: checkAuthorizeRole('dashboard') })
          //       .then(() => {
          //         this.$toast({
          //           component: ToastificationContent,
          //           position: 'top-right',
          //           props: {
          //             title: `Welcome ${userData.name}`,
          //             icon: 'UserIcon',
          //             variant: 'primary',
          //             text: `You have successfully logged in as ${userData.roles[0].name}. Now you can start to explore!`,
          //           },
          //         })
          //       })
          //   })
          //   .catch((error) => {
          //     console.log(error)
          //     this.$refs.loginForm.setErrors(error.response.data.error)
          //   })

          // axios
          axios
            .post(url, data, config)
            .then((response) => {
              this.isLoading = false
              let userData = response.data.data.user
              useJwt.setToken(response.data.data.token)
              // useJwt.setRefreshToken(response.data.refreshToken)

              const userAbility = [
                {
                  action: 'manage',
                  subject: 'all',
                },
              ]

              userData = {
                ...userData,
                ability: userAbility,
              }

              localStorage.setItem('userData', JSON.stringify(userData))
              this.$ability.update(userData.ability)

              // ? This is just for demo purpose. Don't think CASL is role based in this case, we used role in if condition just for ease
              this.$router
                .replace({ name: checkAuthorizeRole('dashboard') })
                .then(() => {
                  this.$toast({
                    component: ToastificationContent,
                    position: 'top-right',
                    props: {
                      title: `Welcome ${userData.name}`,
                      icon: 'UserIcon',
                      variant: 'success',
                      text: `You have successfully logged in as ${userData.roles[0].name}. Now you can start to explore!`,
                    },
                  })
                })
            })
            .catch((error) => {
              this.showToast(
                'danger',
                'AlertTriangleIcon',
                'Uh Oh!',
                error.toString() === 'Error: timeout of 5000ms exceeded'
                  ? 'Something went wrong, please try again later'
                  : error.toString()
              )

              this.$refs.loginForm.setErrors(error.response.data.error)
            })
        }
      })
    },
  },
  setup() {
    const { appName, appLogoImage } = $themeConfig.app

    return {
      appName,
      appLogoImage,
    }
  },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/pages/page-auth.scss';

.small-logo {
  max-width: 100px;
}
</style>
