<template>
  <div>
    <!-- Task Card Header -->
    <b-card class="card mb-1" title="Data Kelas">
      <!-- Title -->
      <div class="d-flex pb-2 border-bottom">
        <b-avatar
          :src="blobImage"
          :text="avatarText('Kelas')"
          :variant="`light-primary`"
          size="104px"
          rounded
        />
        <div class="ml-1 d-flex flex-column justify-content-center">
          <div class="d-flex mb-1">
            <input
              accept="image/png, image/jpg, image/jpeg"
              ref="file"
              type="file"
              style="display: none"
              @change="onFileChange"
            />
            <b-button
              variant="outline-primary small-gap-right"
              @click="$refs.file.click()"
            >
              Upload Foto Baru
            </b-button>
            <b-button @click="blobImage = ''" variant="secondary">
              Reset
            </b-button>
          </div>
          <span>Uploud foto kelas format jpg/png maks. 800kb</span>
        </div>
      </div>

      <!-- Classroom Config -->
      <div class="mt-2">
        <b-row>
          <b-col lg="6" class="mb-1">
            <label class="d-block">Nama Kelas</label>
            <b-form-input
              id="classroom-name"
              v-model="formData.classroomName"
              placeholder="Masukkan Nama Kelas"
              :state="formErrors.classroomName.state"
            />
            <b-form-invalid-feedback v-show="!formErrors.classroomName.state">
              {{ formErrors.classroomName.message }}
            </b-form-invalid-feedback>
          </b-col>
          <b-col lg="6" class="mb-1">
            <label class="d-block">Icon Kelas</label>
            <b-avatar
              v-for="icon in iconList"
              :key="icon"
              class="small-gap-right pointer"
              :variant="
                formData.selectedIcon === icon
                  ? 'light-success'
                  : 'light-secondary'
              "
              rounded=""
            >
              <i
                class="card-icon ti"
                :class="icon"
                @click="formData.selectedIcon = icon"
              />
            </b-avatar>
          </b-col>
          <b-col lg="12" class="mb-1">
            <label class="d-block">Deskripsi Kelas</label>
            <b-form-textarea
              placeholder="Deskripsi Kelas"
              rows="3"
              no-resize
              v-model="formData.classroomDescription"
              :state="formErrors.classroomDescription.state"
            />
            <b-form-invalid-feedback
              v-show="!formErrors.classroomDescription.state"
            >
              {{ formErrors.classroomDescription.message }}
            </b-form-invalid-feedback>
          </b-col>
          <b-col lg="12" class="mb-1">
            <label class="d-block">Tipe Kelas</label>
            <div class="d-flex align-items-center">
              <b-form-checkbox
                v-model="isOpenClass"
                @change="isOpenClassChange"
                name="check-button"
                switch
                inline
                class="mr-0"
              />
              <span class="-mr-1 line-height-small">
                Terbuka
              </span>
            </div>
          </b-col>
          <b-col lg="12" class="mb-1" v-show="!isOpenClass">
            <label class="d-block">Kata Sandi Kelas</label>
            <b-form-input
              id="classroom-name"
              v-model="formData.classroomEnrollKey"
              placeholder="Masukan Kata Sandi Kelas"
            />
          </b-col>
          <b-col lg="12" class="mb-1">
            <label class="d-block">Jadwal Kelas</label>
            <b-form-group :state="formErrors.classroomSchedule.state">
              <v-select
                v-model="formData.classroomSchedule"
                label="title"
                :options="schedules"
              />
            </b-form-group>
            <div
              v-show="!formErrors.classroomSchedule.state"
              class="invalid-feedback"
            >
              {{ formErrors.classroomSchedule.message }}
            </div>
          </b-col>
          <b-col lg="12">
            <label class="d-block">Kelas Mulai</label>
            <b-form-group :state="!formErrors.classroomStartDate.state">
              <flat-pickr
                v-model="formData.classroomStartDate"
                class="form-control"
                :class="{
                  'is-invalid': formErrors.classroomStartDate.state,
                }"
                :config="{
                  altInput: true,
                  altFormat: 'j F Y',
                  dateFormat: 'Y-m-d',
                  minDate: 'today',
                }"
              />
            </b-form-group>
            <div
              v-show="!formErrors.classroomStartDate.state"
              class="invalid-feedback"
            >
              {{ formErrors.classroomStartDate.message }}
            </div>
          </b-col>
        </b-row>
        <div>
          <b-button variant="primary" class="float-right" @click="submitForm">
            <div class="d-flex align-items-center ">
              <b-spinner
                v-show="isLoading"
                class="mr-1"
                variant="light"
                small
              />
              Simpan
            </div>
          </b-button>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BAlert,
  BAvatar,
  BFormInput,
  BFormGroup,
  BFormCheckbox,
  BFormTextarea,
  BFormInvalidFeedback,
  BSpinner,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { checkAuthorizeRole } from '@/auth/utils'

// eslint-disable-next-line import/no-cycle
import { avatarText } from '@core/utils/filter'

export default {
  components: {
    BFormInvalidFeedback,
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BAlert,
    BAvatar,
    BFormInput,
    BFormGroup,
    BFormCheckbox,
    BFormTextarea,
    BSpinner,
    vSelect,
    flatPickr,
  },
  data() {
    return {
      isLoading: false,
      isOpenClass: false,
      blobImage: '',
      formErrors: {
        classroomName: { state: null, message: '' },
        classroomDescription: { state: null, message: '' },
        classroomSchedule: { state: null, message: '' },
        classroomStartDate: { state: null, message: '' },
      },
      iconList: [
        'ti-book',
        'ti-calculator',
        'ti-map-search',
        'ti-flag',
        'ti-history',
        'ti-affiliate',
      ],
      schedules: [
        'Senin',
        'Selasa',
        'Rabu',
        'Kamis',
        'Jumat',
        'Sabtu',
        'Minggu',
      ],
      formData: {
        classroomName: '',
        selectedIcon: 'ti-book',
        classroomEnrollKey: '',
        classroomImage: '',
        classroomCover: '',
        classroomSchedule: 'Senin',
        classroomDescription: '',
        classroomStartDate: '',
        schoolId: '',
      },
    }
  },
  mounted() {
    this.formData.classroomEnrollKey = this.generateRandomString(6)
    this.formData.classroomStartDate = new Date().toISOString().slice(0, 10)
    this.formData.schoolId = JSON.parse(
      localStorage.getItem('userData')
    ).school_id
  },
  methods: {
    avatarText,
    isOpenClassChange() {
      if (this.isOpenClass) {
        this.formData.classroomEnrollKey = ''
      } else {
        this.formData.classroomEnrollKey = this.generateRandomString(6)
      }
    },
    generateRandomString(length) {
      let result = ''
      const characters =
        'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      const charactersLength = characters.length
      for (let i = 0; i < length; i += 1) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        )
      }
      return result
    },
    onFileChange(e) {
      const file = e.target.files[0]
      this.formData.classroomLogo = file
      this.blobImage = URL.createObjectURL(file)
    },
    showToast(variant, icon, title, message) {
      this.$toast({
        component: ToastificationContent,
        props: {
          title,
          icon,
          text: message,
          variant,
        },
      })
    },
    validateForm() {
      let isValid = true
      if (this.formData.classroomName === '') {
        this.formErrors.classroomName = {
          state: false,
          message: 'Nama Kelas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.classroomName = {
          state: null,
          message: '',
        }
      }
      if (this.formData.classroomDescription === '') {
        this.formErrors.classroomDescription = {
          state: false,
          message: 'Deskripsi Kelas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.classroomDescription = {
          state: null,
          message: '',
        }
      }
      if (this.formData.classroomSchedule === '') {
        this.formErrors.classroomSchedule = {
          state: false,
          message: 'Jadwal Kelas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.classroomSchedule = {
          state: null,
          message: '',
        }
      }
      if (this.formData.classroomStartDate === '') {
        this.formErrors.classroomStartDate = {
          state: false,
          message: 'Tanggal Mulai Kelas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.classroomStartDate = {
          state: null,
          message: '',
        }
      }
      return isValid
    },
    async submitForm() {
      this.isLoading = true
      if (this.validateForm()) {
        const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`

        const data = new FormData()
        data.append('name', this.formData.classroomName)
        data.append('description', this.formData.classroomDescription)
        data.append('logo', this.formData.selectedIcon)
        data.append('image', this.formData.classroomLogo)
        data.append('cover', this.formData.classroomLogo)
        data.append('schedule', this.formData.classroomSchedule)
        data.append('enrollment_key', this.formData.classroomEnrollKey)
        data.append('school_id', this.formData.schoolId)
        data.append('start_date', this.formData.classroomStartDate)

        const config = {
          headers: {
            Accept: 'application/json',
            Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
            'Content-Type': 'multipart/form-data',
          },
        }

        // create classroom
        await axios
          .post(`${baseUrl}/classrooms`, data, config)
          .then((response) => {
            // stop loading
            this.isLoading = false

            // show success toast
            this.showToast(
              'success',
              'Check',
              'Berhasil',
              'Kelas berhasil dibuat'
            )

            // redirect to classroom detail
            this.$router.push({
              name: checkAuthorizeRole('classroom-detail'),
              params: { id: response.data.data.id },
            })
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';

.line-height-small {
  line-height: 1.5rem;
}

.small-gap-right {
  margin-right: 8px;
}

.small-gap-top {
  margin-top: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.regular-icon {
  top: 0 !important;
  font-size: 1.2rem;
}

.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}

.card-icon-lg {
  top: 0 !important;
  font-size: 2.5rem;
}

.border-light-secondary {
  border: 1px solid #efefef !important;
}

.pointer {
  cursor: pointer;
}

.is-invalid {
  border-color: #ea5455 !important;
}
</style>
