<template>
  <b-card
    class="classroom-header mb-1"
    :img-src="headerData.classroomCover"
    img-top
    alt="cover photo"
    body-class="p-0"
  >
    <!-- profile navbar -->
    <div class="classroom-header-nav">
      <div class="p-2 d-flex align-items-center">
        <b-img
          class="classroom-img"
          :text="avatarText(headerData.classroomTitle)"
          :src="headerData.classroomLogo"
          rounded
          fluid
          alt="classroom photo"
        />
        <div class="w-100 ml-2 d-flex justify-content-between">
          <div>
            <h2>
              {{ headerData.classroomTitle }}
            </h2>
            <div class="d-flex">
              <b-badge class="mr-1" variant="light-info">
                <i class="ti ti-user"></i>
                {{ headerData.teacherName }}
              </b-badge>
            </div>
          </div>
          <div>
            <b-form-checkbox
              class="mt-1"
              @change="toggleEditClassroomMode"
              name="check-button"
              switch
              inline
            >
              Mode Edit Kelas
            </b-form-checkbox>
          </div>
        </div>
      </div>
    </div>
    <!--/ profile navbar -->
  </b-card>
</template>

<script>
import { BBadge, BCard, BImg, BFormCheckbox } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { avatarText } from '@core/utils/filter'

export default {
  components: {
    BCard,
    BBadge,
    BImg,
    BFormCheckbox,
  },
  directives: {
    Ripple,
  },
  props: {
    headerData: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isEditClassroomMode: false,
    }
  },
  methods: {
    toggleEditClassroomMode(event) {
      this.isEditClassroomMode = event
      this.$emit('isEditModeOn', this.isEditClassroomMode)
    },
    toggleNavtab(tab) {
      this.activeNavtab = tab
      this.$emit('activeNavtab', this.activeNavtab)
    },
    avatarText,
  },
}
</script>

<style lang="scss" scoped>
.card-img-top {
  max-height: 200px;
  object-fit: cover;
  // object-position: top;
}

.classroom-header {
  .classroom-img {
    border: 0.357rem solid #fff;
    background-color: #fff;
    border-radius: 0.428rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: -75px;
  }
}

.button {
  i {
    margin-right: 0.5rem;
  }
}
</style>
