<template>
  <div v-if="!isLoading">
    <!-- File Card Header -->
    <b-card class="material-card mb-2">
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-success">
            <i class="card-icon ti ti-book-2 "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <span class="text-muted ">Materi</span>
              <b-card-title class="font-weight-bolder small-gap-bottom">
                {{ classroomContent.title }}
              </b-card-title>
            </div>
          </div>

          <b-card-text>
            {{ classroomContent.description }}
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- Scrollable Contetn -->
    <div
      v-show="!isLoading && classroomContent.materials.length !== 0"
      class="vertical-scrollable"
    >
      <b-row>
        <!-- File List -->
        <b-col
          v-for="material in classroomContent.materials"
          :key="material.id"
          md="6"
          lg="4"
        >
          <!-- File -->
          <b-card v-show="material.file != null" :title="material.title">
            <div class="img-overlay text-center">
              <b-card-img
                class="preview-material"
                :src="baseMaterialBgImage"
                alt="Image"
              />
              <b-badge
                class="preview-icon bg-white py-1 px-2"
                :variant="`light-${fileType(getExtension(material.file))}`"
              >
                <span class="card-icon ">
                  .{{ getExtension(material.file) }}
                </span>
              </b-badge>
            </div>
            <b-card-body
              class="d-flex align-items-center pt-1 mt-1 justify-content-between border-top"
            >
              <span class="text-muted">
                {{ localizeISODate(material.created_at, 'ID-id') }}
              </span>
              <b-button
                class="d-flex align-items-center"
                :href="material.file"
                target="_blank"
                variant="outline-primary"
              >
                <i
                  class="regular-icon align-middle ti ti-download small-gap-right"
                ></i>
                Download
              </b-button>
            </b-card-body>
          </b-card>

          <!-- Video -->
          <!-- <b-card v-show="material.video_url != null" :title="material.title">
            <div class="img-overlay text-center">
              <b-card-img
                class="preview-material"
                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                alt="Image"
              />
              <b-avatar class="preview-icon bg-white" variant="light-primary">
                <i class="card-icon ti ti-player-play "></i>
              </b-avatar>
            </div>
            <b-card-body
              class="d-flex align-items-center pt-1 mt-1 justify-content-between border-top"
            >
              <span class="text-muted">
                {{ localizeISODate(material.created_at, 'ID-id') }}
              </span>
              <b-button
                class="d-flex align-items-center"
                href="#"
                variant="outline-primary"
              >
                <i
                  class="regular-icon align-middle ti ti-download small-gap-right"
                ></i>
                Download
              </b-button>
            </b-card-body>
          </b-card> -->
        </b-col>

        <!-- Sample Video -->
        <b-col md="6" lg="4">
          <b-card
            v-show="classroomContent.materials.length > 0"
            title="Sample Materi Video"
          >
            <div class="img-overlay text-center">
              <b-card-img
                class="preview-material"
                :src="sampleVideoMaterialBgImage"
                alt="Video Preview"
              />
              <b-avatar
                v-b-modal.modal-center
                class="preview-icon bg-white"
                variant="light-primary"
              >
                <i class="card-icon ti ti-player-play "></i>
              </b-avatar>
            </div>
            <b-card-body
              class="d-flex align-items-center pt-1 mt-1 justify-content-between border-top"
            >
              <span class="text-muted">
                Today
              </span>
              <b-button
                class="d-flex align-items-center"
                :href="sampleVideoMaterial"
                target="_blank"
                variant="outline-primary"
              >
                <i
                  class="regular-icon align-middle ti ti-download small-gap-right"
                ></i>
                Download
              </b-button>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>

    <!-- Empty State -->
    <div v-show="!isLoading && classroomContent.materials.length === 0">
      <b-row>
        <b-col class="d-flex justify-content-center mt-2">
          <div class="text-center pt-2">
            <b-img class="illustration-small" fluid :src="emptyStateImg" />
            <p class="mb-2">
              Belum Ada Materi Kelas
            </p>
            <b-button
              variant="primary"
              class="mb-1 btn-sm-block"
              @click="$router.back()"
              >Kembali</b-button
            >
          </div>
        </b-col>
      </b-row>
    </div>

    <!-- Loading Material -->
    <div v-if="isLoading" class="d-flex justify-content-center mt-4">
      <div class="text-center mt-4">
        <b-spinner variant="primary" class="mr-1" />
        <p class="mt-1">
          Memuat Daftar Materi
        </p>
      </div>
    </div>

    <!-- Preview Modal -->
    <div>
      <b-modal
        id="modal-center"
        centered
        size="lg"
        title="Preview"
        ok-only
        ok-title="Tutup"
      >
        <b-card-text>
          <video
            class="rounded"
            autoplay
            controls
            width="100%"
            :src="sampleVideoMaterial"
          ></video>
        </b-card-text>
      </b-modal>
    </div>
  </div>
</template>

<script>
// ** Third Party Components
import axios from 'axios'

// Components
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BBadge,
  BCardImg,
  BImg,
  BAvatar,
  BSpinner,
} from 'bootstrap-vue'

// Utils
import { checkAuthorizeRole } from '@/auth/utils'
import { localizeISODate, fileType } from '@core/utils/filter'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    BBadge,
    BCardImg,
    BImg,
    BAvatar,
    BSpinner,
  },
  data() {
    return {
      // state
      isLoading: true,

      // assets
      baseMaterialBgImage: require('@/assets/images/component/material/material-bg.png'),
      sampleVideoMaterialBgImage: require('@/assets/media/sample/video/sample-video.png'),
      sampleVideoMaterial: require('@/assets/media/sample/video/sample-video.mp4'),
      emptyStateImg: require('@/assets/images/illustration/no-connection.svg'),

      // default data
      classroomId: this.$router.currentRoute.params.id,
      contentId: this.$router.currentRoute.params.contentId,
      classroomContent: {},
    }
  },
  beforeRouteEnter(to, from, next) {
    const { role, breadcrumb } = to.meta

    to.meta.breadcrumb[breadcrumb.length - 2].params = { id: to.params.id }
    next()
  },
  async mounted() {
    const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`
    const url = `${baseUrl}/students/classrooms/${this.classroomId}/class-contents/${this.contentId}`
    const config = {
      headers: {
        Accept: 'application/json',
        Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
        'Content-Type': 'multipart/form-data',
      },
    }

    await axios
      .get(url, config)
      .then((response) => {
        this.classroomContent = response.data.data

        this.isLoading = false
      })
      .catch((error) => {
        this.isLoading = false
        console.log(error)
      })
  },
  methods: {
    checkAuthorizeRole,
    localizeISODate,
    fileType,
    getExtension(filename) {
      return filename.split('.').pop()
    },
  },
}
</script>

<style lang="scss">
.small-gap-right {
  margin-right: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.regular-icon {
  top: 0 !important;
  font-size: 1.2rem;
}

.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}

.card-icon-lg {
  top: 0 !important;
  font-size: 2.5rem;
}

.border-light-secondary {
  border: 1px solid #efefef !important;
}

.preview-material {
  max-height: 200px;
  object-fit: fill;
}

.preview-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 2rem;
}

.vertical-scrollable > .row {
  position: relative;
  height: calc(100vh - 360px);
  width: 100%;
  overflow-y: scroll;
}

.illustration-small {
  height: 300px;
  object-fit: cover;
}

.min-height-screen {
  min-height: calc(100vh - 190px);
}
</style>
