<template>
  <b-card no-body class="card-subject-states">
    <b-card-header>
      <div>
        <b-card-title>Progress Belajar</b-card-title>
        <b-card-text class="font-small-2 text-muted">
          Rata-rata 72% Complete
        </b-card-text>
      </div>

      <b-dropdown
        variant="link"
        no-caret
        class="chart-dropdown"
        toggle-class="p-0"
      >
        <template #button-content>
          <feather-icon
            icon="MoreVerticalIcon"
            size="18"
            class="text-body cursor-pointer"
          />
        </template>
        <b-dropdown-item href="#">
          Last 28 Days
        </b-dropdown-item>
        <b-dropdown-item href="#">
          Last Month
        </b-dropdown-item>
        <b-dropdown-item href="#">
          Last Year
        </b-dropdown-item>
      </b-dropdown>
    </b-card-header>

    <!-- body -->
    <b-card-body>
      <div
        v-for="subject in subjectData"
        :key="subject.subjectImg"
        class="subject-states"
      >
        <b-media no-body class="w-40">
          <b-media-aside class="mr-1">
            <b-avatar variant="light-primary" icon="">
              <i :class="subject.subjectImg" class="font-medium-2 ti" />
            </b-avatar>
          </b-media-aside>
          <b-media-body>
            <h6 class="align-self-center my-auto">{{ subject.name }}</h6>
            <span class="font-small-2 text-muted">
              {{ subject.task }}
            </span>
          </b-media-body>
        </b-media>
        <div class="w-60">
          <span
            class="font-small-2 text-muted ml-50 w-20 float-right text-right"
          >
            {{ subject.percentage }}%
          </span>
          <div class="progress-wrapper w-60">
            <b-progress
              :value="subject.percentage"
              max="100"
              variant="primary"
              height="8px"
            />
          </div>
        </div>
      </div>
    </b-card-body>
    <!--/ body -->
  </b-card>
</template>

<script>
import {
  BAvatar,
  BCard,
  BCardHeader,
  BCardTitle,
  BCardText,
  BCardBody,
  BMedia,
  BMediaAside,
  BMediaBody,
  BDropdown,
  BDropdownItem,
  BProgress,
} from 'bootstrap-vue'

// import { $themeColors } from '@themeConfig'
// const $trackBgColor = '#e9ecef'

export default {
  components: {
    BAvatar,
    BCard,
    BCardHeader,
    BCardTitle,
    BCardText,
    BCardBody,
    BMedia,
    BMediaAside,
    BMediaBody,
    BDropdown,
    BDropdownItem,
    BProgress,
  },
  data() {
    return {
      subjectData: [
        {
          subjectImg: 'ti-player-play',
          name: 'Matematika',
          percentage: 100,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-book',
          name: 'Geografi',
          percentage: 60,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-3d-cube-sphere',
          name: 'Sejarah',
          percentage: 50,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-chevron-left',
          name: 'Ilmu Olahraga',
          percentage: 80,
          task: '2 Tugas',
        },
        {
          subjectImg: 'ti-chevron-up',
          name: 'Seni',
          percentage: 80,
          task: '2 Tugas',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
.card-subject-states {
  .subject-states {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
  }
}

.progress-wrapper {
  width: 50%;
  float: right;
  align-self: start;
  margin-top: 5px;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}
</style>
