<template>
  <div v-if="!isLoading">
    <!-- Submission Card Header -->
    <b-card
      v-if="taskCategory === 'file'"
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1"
    >
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-warning">
            <i class="card-icon ti ti-file-upload "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <span class="text-muted">
                Unggah File
              </span>
              <h6 class="font-weight-bolder small-gap-bottom">
                Tugas : {{ classroomContent.task.title }}
              </h6>
            </div>
          </div>

          <b-card-text>
            {{ classroomContent.task.description }}
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- File Submission -->
    <div v-if="taskCategory === 'file'">
      <!-- Link and File Upload -->
      <b-card>
        <!-- Link Video Input -->
        <b-form-group hidden>
          <label class="d-block">Link Upload</label>
          <b-form-input
            hidden
            placeholder="Masukan Link Video : eg. https://www.youtube.com/watch?v=1"
            :state="formErrors.uploadLink.state"
          />
          <b-form-invalid-feedback v-show="!formErrors.uploadLink.state">
            {{ formErrors.uploadLink.message }}
          </b-form-invalid-feedback>
        </b-form-group>

        <!-- Dropzone Input -->
        <label class="d-block">Upload File</label>
        <div v-if="filelist.length === 0" class="drop-file-con">
          <b-card
            class="drop-file p-4 mt-2"
            @dragover="dragover"
            @dragleave="dragleave"
            @drop="drop"
          >
            <div class="d-flex flex-column align-items-center">
              <b-avatar size="lg" rounded="sm" variant="light-primary">
                <i class="card-icon-lg ti ti-file-upload"></i>
              </b-avatar>
              <h3 class="pt-1 small-gap-bottom">
                Seret file di sini
              </h3>
              <span class="small-gap-bottom">
                (Format file yang didukung: .pdf, .doc, .docx, .xsl, .xslx,
                .ppt, .pptx)
              </span>
              <b-button variant="primary" @click="$refs.file.click()">
                Upload File</b-button
              >
            </div>
          </b-card>
        </div>

        <!-- Display Selected File -->
        <b-row v-show="filelist.length != 0">
          <b-col lg="2">
            <b-card
              class="border-light-secondary d-flex flex-column text-center"
              v-for="(file, index) in filelist"
              :key="index"
            >
              <b-button
                class="remove-button-x"
                variant="danger"
                size="sm"
                @click="remove(index)"
              >
                <i class="ti ti-x"></i>
              </b-button>
              <b-avatar rounded :variant="fileType(getExtension(file.name))">
                <span class="p-2"> {{ getExtension(file.name) }}</span>
              </b-avatar>
              <div class="mt-1">
                <span>
                  {{ ellipsis(file.name) }}
                </span>
              </div>
            </b-card>

            <!-- Hidden Input -->
            <input
              ref="file"
              hidden
              type="file"
              accept=".pdf,.doc, .docx,.ppt, .pptx,.xls, .xlsx"
              @change="onChange()"
            />
          </b-col>
        </b-row>
      </b-card>

      <!-- Save Button -->
      <div class="text-right mb-2">
        <b-button variant="primary" @click="submitForm">
          <i
            class="regular-icon align-middle ti ti-checklist small-gap-right"
          />
          <span class="align-middle">Simpan</span>
        </b-button>
      </div>
    </div>

    <!-- Multiple Choice Submission -->
    <multiple-choice
      v-if="taskCategory === 'multiplechoice'"
      :content-data="classroomContent"
    />

    <!-- Essay Submission -->
    <essay v-if="taskCategory === 'essay'" :content-data="classroomContent" />
  </div>
</template>

<script>
import axios from 'axios'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import {
  BBadge,
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BInputGroup,
  BFormInput,
  BFormRadio,
  BInputGroupPrepend,
  BAvatar,
  BMedia,
  BProgress,
  BFormTextarea,
  BFormGroup,
  BFormInvalidFeedback,
} from 'bootstrap-vue'

import { checkAuthorizeRole } from '@/auth/utils'

// eslint-disable-next-line import/no-cycle
import { avatarText, fileType } from '@core/utils/filter'

// Custom Component
import MultipleChoice from './component/MultipleChoice.vue'
import Essay from './component/Essay.vue'

export default {
  components: {
    BBadge,
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BInputGroup,
    BFormInput,
    BFormRadio,
    BInputGroupPrepend,
    BAvatar,
    BMedia,
    BProgress,
    BFormTextarea,
    BFormGroup,
    BFormInvalidFeedback,

    MultipleChoice,
    Essay,
  },
  data() {
    return {
      // State
      isLoading: true,
      taskCategory: 'link',

      // Default data
      classroomId: this.$router.currentRoute.params.id,
      contentId: this.$router.currentRoute.params.contentId,
      taskId: this.$router.currentRoute.params.taskId,

      // Classroom Data
      classroomContent: {},

      // FormData
      filelist: [],
      formErrors: {
        uploadLink: { state: null, message: '' },
      },
      formData: {
        uploadLink: '-', // TODO: remove this default string if api not required
      },
    }
  },
  beforeRouteEnter(to, from, next) {
    const { role, breadcrumb } = to.meta

    to.meta.breadcrumb[breadcrumb.length - 2].params = {
      id: to.params.id,
      contentId: to.params.contentId,
    }
    to.meta.breadcrumb[breadcrumb.length - 3].params = { id: to.params.id }
    next()
  },
  async mounted() {
    const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`
    const url = `${baseUrl}/students/classrooms/${this.classroomId}/class-contents/${this.contentId}/tasks/${this.taskId}`
    const config = {
      headers: {
        Accept: 'application/json',
        Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
        'Content-Type': 'multipart/form-data',
      },
    }

    await axios
      .get(url, config)
      .then((response) => {
        const classroomContent = response.data.data
        this.classroomContent = classroomContent
        this.taskCategory = JSON.parse(
          classroomContent.task.content
        ).content_type

        this.isLoading = false
      })
      .catch((error) => {
        this.isLoading = false
        console.log(error)
      })
  },
  methods: {
    avatarText,
    fileType,
    getExtension(filename) {
      return filename.split('.').pop()
    },
    ellipsis(text) {
      if (text.length > 6) {
        return `${text.substring(0, 10)}...${text.substr(
          text.lastIndexOf('.') + 1
        )}`
      }
      return text
    },
    onChange() {
      this.filelist = [...this.$refs.file.files]
    },
    remove(i) {
      this.filelist.splice(i, 1)
      const allDropFileContainer = document.querySelectorAll('.drop-file')

      allDropFileContainer.forEach((dropFile) => {
        dropFile.classList.remove('bg-drop-file')
      })
    },
    dragover(event) {
      event.preventDefault()
      // Add some visual fluff to show the user can drop its files
      if (!event.currentTarget.classList.contains('bg-drop-file')) {
        event.currentTarget.classList.add('bg-drop-file')
      }
    },
    dragleave(event) {
      // Clean up
      event.currentTarget.classList.remove('bg-drop-file')
    },
    drop(event) {
      event.preventDefault()
      const droppedFiles = event.dataTransfer.files

      if (droppedFiles.length > 1) {
        event.currentTarget.classList.remove('bg-drop-file')
        this.showToast(
          'danger',
          'XIcon',
          'Gagal',
          'File tidak boleh lebih dari satu'
        )
      } else {
        droppedFiles.forEach((element) => {
          const fileExtension = element.name.split('.').pop()
          const allowedExtension = [
            'pdf',
            'doc',
            'docx',
            'ppt',
            'pptx',
            'xls',
            'xlsx',
            'mp4',
            'mkv',
          ]

          if (allowedExtension.includes(fileExtension)) {
            this.filelist.push(element)
          } else {
            event.currentTarget.classList.remove('bg-drop-file')
            this.showToast('danger', 'XIcon', 'Gagal', 'File tidak didukung')
          }
        })
      }
    },
    showToast(variant, icon, title, message) {
      this.$toast({
        component: ToastificationContent,
        props: {
          title,
          icon,
          text: message,
          variant,
        },
      })
    },
    validateForm() {
      let isValid = true
      if (this.formData.uploadLink === '' && this.filelist.length === 0) {
        this.formErrors.uploadLink = {
          state: false,
          message:
            'File atau Link Upload tidak boleh kosong (Pilih Salah Satu)',
        }

        isValid = false
      } else {
        this.formErrors.uploadLink = {
          state: null,
          message: '',
        }
      }

      if (!isValid) {
        this.showToast('danger', 'XIcon', 'Error', 'Form tidak valid')
        this.isLoading = false
      } else {
        this.isLoading = true
      }

      return isValid
    },
    async submitForm() {
      this.isLoading = true
      if (this.validateForm()) {
        // API basic configuration
        const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`
        const url = `${baseUrl}/students/classrooms/${this.classroomId}/class-contents/${this.contentId}/tasks/${this.taskId}`
        const config = {
          headers: {
            Accept: 'application/json',
            Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
            'Content-Type': 'multipart/form-data',
          },
        }

        // Create form data
        const data = new FormData()
        data.append('class_task_id', this.taskId)
        data.append('classroom_id', this.classroomId)
        data.append('file', this.filelist[0])
        data.append('answer', this.formData.uploadLink)

        // create content material
        await axios
          .post(url, data, config)
          .then((response) => {
            // stop loading
            this.isLoading = false

            // show success toast
            this.showToast(
              'success',
              'Check',
              'Berhasil',
              'Tugas berhasil dikumpulkan'
            )

            // redirect to task
            this.$router.go(-1)
          })
          .catch((error) => {
            this.isLoading = false

            // show success toast
            this.showToast(
              'danger',
              'XIcon',
              'Gagal',
              error.response.data.message
            )
          })
      }
    },
  },
}
</script>

<style lang="scss">
.extra-small-gap-bottom {
  margin-bottom: 4px;
}

.small-gap-right {
  margin-right: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.small-gap-top {
  margin-top: 8px;
}

.regular-icon {
  top: 0 !important;
  font-size: 1.2rem;
}

.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}

.card-icon-lg {
  top: 0 !important;
  font-size: 2.5rem;
}

.border-light-secondary {
  border: 1px solid #efefef !important;
}

.regular-ul {
  padding-left: 1.5rem;
}

.round-button {
  padding: 0.2%;
  margin: 0.7%;
  font-size: 0.7rem;
  height: 2.5rem;
  width: 2.5rem;
}

.w-30 {
  width: 30%;
}

.exam-answer-options .form-control[readonly] {
  cursor: pointer;
  background-color: white !important;
}

.drop-file {
  cursor: pointer;
  box-shadow: none !important;
  background-color: transparent !important;
  border: 2px dashed #d3d3d3 !important;
  border-radius: 0.428rem !important;
}
.card-material-type {
  cursor: pointer;
}

.remove-button-x {
  padding: 10px 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.bg-drop-file {
  background-color: #c9ffe7 !important;
}
</style>
