<template>
  <div v-if="!isLoading">
    <!-- Task Card Header -->
    <b-card class="material-card mb-1">
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-info">
            <i class="card-icon ti ti-clipboard-list "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <span class="text-muted ">Tugas</span>
              <h6 class="font-weight-bolder small-gap-bottom">
                Tugas Pertemuan : {{ classroomContent.title }}
              </h6>
            </div>
          </div>

          <b-card-text>
            {{ classroomContent.description }}
            Berikut merupakan tugas yang harus dikerjakan oleh siswa pada
            pertemuan ini.
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- Scrollable Contetn -->
    <div
      v-if="!isLoading && classroomContent.class_tasks.length !== 0"
      class="vertical-scrollable"
    >
      <!-- TODO: realClassroom Prablem : change without real classroom id -->
      <b-row>
        <b-col
          lg="4"
          md="6"
          v-for="task in classroomContent.class_tasks"
          :key="task.id"
        >
          <task-card :real-classroom-id="realclassroomId" :task="task" />
        </b-col>
      </b-row>
    </div>

    <!-- Hidden -->
    <b-row v-show="false">
      <!-- Task List -->
      <!-- Upload File -->
      <b-col lg="4" md="12">
        <b-card>
          <div class="d-flex">
            <div class="mr-1">
              <b-avatar rounded="lg" variant="light-warning">
                <i class="card-icon ti ti-file-upload "></i>
              </b-avatar>
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column ">
                  <span class="text-muted ">Unggah File </span>
                  <h6 class="font-weight-bolder small-gap-bottom">
                    Tugas 1 : Apa itu Geografi
                  </h6>
                </div>
              </div>

              <b-card-text>
                Donec sed erat ut magna suscipit mattis. Aliquam erat volutpat.
                Morbi in orci risus. Donec pretium fringilla blandit. Etiam ut
                accumsan leo.
              </b-card-text>
            </div>
          </div>
          <div
            class="d-flex align-items-center pt-1 mt-1 justify-content-between"
          >
            <span class="text-muted">
              Dibuat pada 12/12/2022
            </span>
            <b-button
              class="d-flex align-items-center"
              href="#"
              variant="outline-primary"
            >
              Kerjakan
              <i
                class="regular-icon align-middle ti ti-chevron-right small-gap-right"
              ></i>
            </b-button>
          </div>
        </b-card>
      </b-col>

      <!-- Multiple Choice -->
      <b-col lg="4" md="12">
        <b-card>
          <div class="d-flex">
            <div class="mr-1">
              <b-avatar rounded="lg" variant="light-success">
                <i class="card-icon ti ti-list-check "></i>
              </b-avatar>
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column ">
                  <span class="text-muted ">Pilihan Ganda </span>
                  <h6 class="font-weight-bolder small-gap-bottom">
                    Tugas 2 : Apa itu Geografi
                  </h6>
                </div>
              </div>

              <b-card-text>
                Donec sed erat ut magna suscipit mattis. Aliquam erat volutpat.
                Morbi in orci risus. Donec pretium fringilla blandit. Etiam ut
                accumsan leo.
              </b-card-text>
            </div>
          </div>
          <div
            class="d-flex align-items-center pt-1 mt-1 justify-content-between border-top"
          >
            <span class="text-muted">
              Dibuat pada 12/12/2022
            </span>
            <b-button
              class="d-flex align-items-center"
              href="#"
              variant="outline-primary"
            >
              Kerjakan
              <i
                class="regular-icon align-middle ti ti-chevron-right small-gap-right"
              ></i>
            </b-button>
          </div>
        </b-card>
      </b-col>

      <!-- Essay -->
      <b-col lg="4" md="12">
        <b-card>
          <div class="d-flex">
            <div class="mr-1">
              <b-avatar rounded="lg" variant="light-info">
                <i class="card-icon ti ti-notes "></i>
              </b-avatar>
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column ">
                  <span class="text-muted ">Essay </span>
                  <h6 class="font-weight-bolder small-gap-bottom">
                    Tugas 1 : Apa itu Geografi
                  </h6>
                </div>
              </div>

              <b-card-text>
                Donec sed erat ut magna suscipit mattis. Aliquam erat volutpat.
                Morbi in orci risus. Donec pretium fringilla blandit. Etiam ut
                accumsan leo.
              </b-card-text>
            </div>
          </div>
          <div
            class="d-flex align-items-center pt-1 mt-1 justify-content-between border-top"
          >
            <span class="text-muted">
              Dibuat pada 12/12/2022
            </span>
            <b-button
              class="d-flex align-items-center"
              href="#"
              variant="outline-primary"
            >
              Kerjakan
              <i
                class="regular-icon align-middle ti ti-chevron-right small-gap-right"
              ></i>
            </b-button>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BAlert,
  BAvatar,
} from 'bootstrap-vue'

import TaskCard from './component/TaskCard.vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BAlert,
    BAvatar,
    TaskCard,
  },
  data() {
    return {
      // state
      isLoading: true,

      // assets
      baseMaterialBgImage: require('@/assets/images/component/material/material-bg.png'),
      emptyStateImg: require('@/assets/images/illustration/no-connection.svg'),

      // default data
      classroomId: this.$router.currentRoute.params.id,
      realclassroomId: '', // TODO: realClassroom Prablem : delete if not used
      contentId: this.$router.currentRoute.params.contentId,
      classroomContent: {},
    }
  },
  beforeRouteEnter(to, from, next) {
    const { breadcrumb } = to.meta

    // set breadcrumb
    to.meta.breadcrumb[breadcrumb.length - 2].params = { id: to.params.id }
    next()
  },
  async mounted() {
    const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`
    const url = `${baseUrl}/students/classrooms/${this.classroomId}/class-contents/${this.contentId}`
    const config = {
      headers: {
        Accept: 'application/json',
        Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
        'Content-Type': 'multipart/form-data',
      },
    }

    await axios
      .get(url, config)
      .then((response) => {
        const classroomContent = response.data.data
        this.classroomContent = classroomContent

        // TODO: realClassroom Prablem : delete if not used
        this.realclassroomId = classroomContent.classroom_id

        // set state
        this.isLoading = false
      })
      .catch((error) => {
        this.isLoading = false
        console.log(error)
      })
  },
}
</script>

<style lang="scss">
.small-gap-right {
  margin-right: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.regular-icon {
  top: 0 !important;
  font-size: 1.2rem;
}

.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}

.card-icon-lg {
  top: 0 !important;
  font-size: 2.5rem;
}

.border-light-secondary {
  border: 1px solid #efefef !important;
}

.drop-file {
  box-shadow: none !important;
  background-color: transparent !important;
  border: 2px dashed #d3d3d3 !important;
  border-radius: 0.428rem !important;
}

.vertical-scrollable > .row {
  position: relative;
  height: calc(100vh - 360px);
  width: 100%;
  overflow-y: scroll;
}

.illustration-small {
  height: 300px;
  object-fit: cover;
}

.min-height-screen {
  min-height: calc(100vh - 190px);
}
</style>
