<template>
  <section id="dashboard">
    <b-row class="mb-2">
      <b-col lg="12">
        <h2 class="content-header-title">
          Berita
        </h2>
      </b-col>
      <b-col lg="12">
        <b-carousel id="carousel-caption" controls indicators>
          <b-carousel-slide
            v-for="item in newsImages"
            :key="item.id"
            :caption-html="`<span class='text-white'>` + item.title + `</span>`"
            class="card-img-overlay news-slide-content"
            :text="item.content"
            :img-src="'https://picsum.photos/900/500/?random'"
            @error="onImgError"
          />
        </b-carousel>
      </b-col>
    </b-row>
    <b-row class="">
      <b-col lg="4" sm="12">
        <study-progress />
      </b-col>
      <b-col lg="4" sm="12">
        <activity-progress />
      </b-col>
      <!-- <b-col lg="4" sm="12">
        <study-progress />
      </b-col> -->
    </b-row>
  </section>
</template>

<script>
import { BRow, BCol, BCarousel, BCarouselSlide } from 'bootstrap-vue'
import axios from 'axios'
import { ref, onMounted } from '@vue/composition-api'
import StudyProgress from './components/StudyProgress.vue'
import ActivityProgress from './components/ActivityProgress.vue'

export default {
  components: {
    BRow,
    BCol,
    BCarousel,
    BCarouselSlide,
    StudyProgress,
    ActivityProgress,
  },
  setup() {
    const token = localStorage.getItem('accessToken')
    const newsImages = ref([])

    onMounted(async () => {
      const url = `${process.env.VUE_APP_BASE_API_URL}/news`

      const headers = {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${token}`,
      }

      newsImages.value = await axios
        .get(url, {
          headers,
        })
        .then((response) => {
          return response.data.data
        })
        .catch((error) => {
          console.log(error)
        })
      return newsImages
    })

    function onImgError(e) {
      console.log('error', e)
    }
    return {
      newsImages,
      onImgError,
    }
  },
}
</script>

<style lang="scss">
.card-img-overlay {
  padding: 0 !important;
}

.news-slide-content {
  border-radius: 0.428rem !important;

  img {
    height: 350px;
    border-radius: 0.428rem !important;
    object-fit: cover;
  }
}
</style>
