<template>
  <div>
    <!-- Task Card Header -->
    <b-card class="card" title="Tambah Tugas Kelas">
      <div class="mt-2">
        <b-row>
          <!-- Judul Tugas -->
          <b-col lg="12 mb-1">
            <label class="d-block">Judul Tugas</label>
            <b-form-input
              placeholder="Masukkan Judul Tugas"
              v-model="formData.taskTitle"
              :state="formErrors.taskTitle.state"
            />
            <b-form-invalid-feedback v-show="!formErrors.taskTitle.state">
              {{ formErrors.taskTitle.message }}
            </b-form-invalid-feedback>
          </b-col>

          <!-- Deskripsi Tugas -->
          <b-col lg="12 mb-1">
            <label class="d-block">Deskripsi Tugas</label>
            <b-form-textarea
              placeholder="Deskripsi Tugas"
              rows="3"
              no-resize
              v-model="formData.taskDescription"
              :state="formErrors.taskDescription.state"
            />
            <b-form-invalid-feedback v-show="!formErrors.taskDescription.state">
              {{ formErrors.taskDescription.message }}
            </b-form-invalid-feedback>
          </b-col>

          <!-- Start Date -->
          <b-col lg="6">
            <label class="d-block">Tanggal Mulai Tugas </label>
            <b-form-group :state="!formErrors.taskStartDate.state">
              <flat-pickr
                v-model="formData.taskStartDate"
                class="form-control"
                :class="{
                  'is-invalid': formErrors.taskStartDate.state,
                }"
                :config="{
                  altInput: true,
                  altFormat: 'j F Y (H:i)',
                  dateFormat: 'Y-m-d H:i',
                  minDate: 'today',
                  enableTime: true,
                  time_24hr: true,
                }"
              />
            </b-form-group>
            <div
              v-show="!formErrors.taskStartDate.state"
              class="invalid-feedback"
            >
              {{ formErrors.taskStartDate.message }}
            </div>
          </b-col>

          <!-- Start Date -->
          <b-col lg="6">
            <label class="d-block">Tanggal Berakhir Tugas </label>
            <b-form-group :state="!formErrors.taskEndDate.state">
              <flat-pickr
                v-model="formData.taskEndDate"
                class="form-control"
                :class="{
                  'is-invalid': formErrors.taskEndDate.state,
                }"
                :config="{
                  altInput: true,
                  altFormat: 'j F Y (H:i)',
                  dateFormat: 'Y-m-d H:i',
                  minDate: 'today',
                  enableTime: true,
                  time_24hr: true,
                }"
              />
            </b-form-group>
            <div
              v-show="!formErrors.taskEndDate.state"
              class="invalid-feedback"
            >
              {{ formErrors.taskEndDate.message }}
            </div>
          </b-col>

          <!-- Jenis Tugas -->
          <b-col lg="12">
            <label class="d-block">Pilih Jenis Tugas</label>
            <b-row class="mt-0">
              <!-- File -->
              <b-col lg="4">
                <b-card
                  class="mt-1 card-material-type"
                  :class="
                    selectedTaskType === 'file'
                      ? 'active-material-type border-primary'
                      : 'border-light-secondary'
                  "
                  @click="triggerFormInput('file')"
                >
                  <div class="d-flex flex-column align-items-center p-2 ">
                    <b-avatar size="lg" rounded="sm" variant="light-primary">
                      <i class="card-icon-lg ti ti-file-upload"></i>
                    </b-avatar>
                    <h4 class="pt-1">
                      Unggah File
                    </h4>
                  </div>
                  <div>
                    <b-form-checkbox
                      v-model="selectedTaskType"
                      class="custom-control-primary"
                      value="file"
                      plain
                    />
                  </div>
                </b-card>
              </b-col>

              <!-- Essay -->
              <b-col lg="4">
                <b-card
                  class="mt-1 card-material-type"
                  :class="
                    selectedTaskType === 'essay'
                      ? 'active-material-type border-primary'
                      : 'border-light-secondary'
                  "
                  @click="triggerFormInput('essay')"
                >
                  <div class="d-flex flex-column align-items-center p-2 ">
                    <b-avatar size="lg" rounded="sm" variant="light-info">
                      <i class="card-icon-lg ti ti-notes"></i>
                    </b-avatar>
                    <h4 class="pt-1">
                      Essay
                    </h4>
                  </div>
                  <div>
                    <b-form-checkbox
                      v-model="selectedTaskType"
                      class="custom-control-primary"
                      value="essay"
                      plain
                    />
                  </div>
                </b-card>
              </b-col>
              <!-- Multiple Choice -->
              <b-col lg="4">
                <b-card
                  class="mt-1 card-material-type"
                  :class="
                    selectedTaskType === 'multiplechoice'
                      ? 'active-material-type border-primary'
                      : 'border-light-secondary'
                  "
                  @click="triggerFormInput('multiplechoice')"
                >
                  <div class="d-flex flex-column align-items-center  p-2">
                    <b-avatar size="lg" rounded="sm" variant="light-success">
                      <i class="card-icon-lg ti ti-list"></i>
                    </b-avatar>
                    <h4 class="pt-1">
                      Pilihan Ganda
                    </h4>
                  </div>
                  <div>
                    <b-form-checkbox
                      v-model="selectedTaskType"
                      class="custom-control-primary"
                      value="multiplechoice"
                      plain
                    />
                  </div>
                </b-card>
              </b-col>
            </b-row>
          </b-col>

          <!-- File Extension Input -->
          <!-- <b-col v-show="selectedTaskType === 'file'" lg="12">
            <label class="d-block">Ekstensi File</label>
            <div>
              <b-form-radio v-model="taskFileExtension" plain value="file">
                File (Dokumen / Video)
              </b-form-radio>
              <b-form-radio v-model="taskFileExtension" plain value="link">
                Link (Google Drive / Youtube)
              </b-form-radio>
            </div>
          </b-col> -->

          <!-- Essay Question -->
          <b-col v-show="selectedTaskType === 'essay'" lg="12"> </b-col>

          <!-- Multiple Choice Question-->
          <b-col lg="12" v-show="selectedTaskType === 'muliplechoice'"> </b-col>
        </b-row>

        <div class="mt-1">
          <b-button variant="primary" class="float-right " @click="submitForm">
            <div class="d-flex align-items-center ">
              <b-spinner
                v-show="isLoading"
                class="mr-1"
                variant="light"
                small
              />
              <i
                v-show="!isLoading"
                class="ti ti-device-floppy small-gap-right"
              >
              </i>
              Simpan
            </div>
          </b-button>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BBadge,
  BAlert,
  BAvatar,
  BFormInput,
  BFormGroup,
  BFormCheckbox,
  BFormRadio,
  BFormTextarea,
  BFormInvalidFeedback,
  BSpinner,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { checkAuthorizeRole } from '@/auth/utils'

// eslint-disable-next-line import/no-cycle
import { avatarText } from '@core/utils/filter'

export default {
  components: {
    BFormInvalidFeedback,
    BRow,
    BCol,
    BCard,
    BButton,
    BBadge,
    BAlert,
    BAvatar,
    BFormInput,
    BFormGroup,
    BFormCheckbox,
    BFormRadio,
    BFormTextarea,
    BSpinner,
    vSelect,
    flatPickr,
  },
  data() {
    return {
      // state
      isLoading: false,
      selectedTaskType: 'file',
      taskFileExtension: 'file',

      // default data
      classroomId: this.$router.currentRoute.params.id,
      contentId: this.$router.currentRoute.params.contentId,

      // form data
      formErrors: {
        taskTitle: { state: null, message: '' },
        taskDescription: { state: null, message: '' },
        taskStartDate: { state: null, message: '' },
        taskEndDate: { state: null, message: '' },
      },
      formData: {
        taskTitle: '',
        taskDescription: '',
        taskStartDate: '',
        taskEndDate: '',
      },
    }
  },
  beforeRouteEnter(to, from, next) {
    const { breadcrumb } = to.meta

    to.meta.breadcrumb[breadcrumb.length - 2].params = {
      id: to.params.id,
      contentId: to.params.contentId,
    }
    to.meta.breadcrumb[breadcrumb.length - 3].params = { id: to.params.id }
    next()
  },
  mounted() {
    this.formData.taskStartDate = new Date().toISOString().slice(0, 10)
    this.formData.taskEndDate = new Date().toISOString().slice(0, 10)
  },
  methods: {
    avatarText,
    getExtension(filename) {
      return filename.split('.').pop()
    },
    ellipsis(text) {
      if (text.length > 6) {
        return `${text.substring(0, 10)}...${text.substr(
          text.lastIndexOf('.') + 1
        )}`
      }
      return text
    },
    fileType(type) {
      const filetype = {
        pdf: 'danger',
        doc: 'info',
        docx: 'info',
        ppt: 'warning',
        pptx: 'warning',
        xls: 'success',
        xlsx: 'success',
        mp4: 'secondary',
        mkv: 'info',
      }

      return filetype[type]
    },
    triggerFormInput(type) {
      this.selectedTaskType = type
    },
    showToast(variant, icon, title, message) {
      this.$toast({
        component: ToastificationContent,
        props: {
          title,
          icon,
          text: message,
          variant,
        },
      })
    },
    validateForm() {
      let isValid = true
      if (this.formData.taskTitle === '') {
        this.formErrors.taskTitle = {
          state: false,
          message: 'Nama Tugas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.taskTitle = {
          state: null,
          message: '',
        }
      }

      if (this.formData.taskDescription === '') {
        this.formErrors.taskDescription = {
          state: false,
          message: 'Deskripsi Tugas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.taskDescription = {
          state: null,
          message: '',
        }
      }

      if (this.formData.taskStartDate === '') {
        this.formErrors.taskStartDate = {
          state: false,
          message: 'Tanggal Mulai Tugas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.taskStartDate = {
          state: null,
          message: '',
        }
      }

      if (this.formData.taskEndDate === '') {
        this.formErrors.taskEndDate = {
          state: false,
          message: 'Tanggal Selesai Tugas tidak boleh kosong',
        }
        isValid = false
      } else {
        this.formErrors.taskEndDate = {
          state: null,
          message: '',
        }
      }

      if (!isValid) {
        this.showToast('danger', 'XIcon', 'Error', 'Form tidak valid')
        this.isLoading = false
      } else {
        this.isLoading = true
      }

      return isValid
    },
    async submitForm() {
      this.isLoading = true
      if (this.validateForm()) {
        // API basic configuration
        const baseUrl = `${process.env.VUE_APP_BASE_API_URL}`
        const url = `${baseUrl}/teachers/classrooms/${this.classroomId}/class-contents/${this.contentId}/tasks`
        const config = {
          headers: {
            'Content-Type': 'multipart/form-data',
            Accept: 'application/json',
            Authorization: `Bearer ${localStorage.getItem('accessToken')}`,
          },
        }

        // Create form data
        const data = new FormData()
        data.append('title', this.formData.taskTitle)
        data.append('description', this.formData.taskDescription)
        data.append('start_date', this.formData.taskStartDate)
        data.append('end_date', this.formData.taskEndDate)

        // Check if material type is link
        if (this.selectedTaskType === 'file') {
          data.append(
            'content',
            JSON.stringify({
              content_type: 'file',
              upload_type: this.taskFileExtension,
            })
          )
        } else if (this.selectedTaskType === 'essay') {
          data.append(
            'content',
            JSON.stringify({
              content_type: 'essay',
              upload_type: 'essay',
            })
          )
        } else if (this.selectedTaskType === 'multiplechoice') {
          data.append(
            'content',
            JSON.stringify({
              content_type: 'multiplechoice',
              upload_type: 'multiplechoice',
            })
          )
        } else {
          data.append('content', '{}')
        }

        // create content task
        await axios
          .post(url, data, config)
          .then((response) => {
            // stop loading
            this.isLoading = false

            // show success toast
            this.showToast(
              'success',
              'Check',
              'Berhasil',
              'Tugas berhasil ditambah'
            )

            // redirect to quiz generation page
            if (this.selectedTaskType !== 'file') {
              const taskData = {
                task: response.data.data,
                generatedQuiz: [],
              }

              // set response to local storage
              localStorage.setItem('taskData', JSON.stringify(taskData))

              this.$router.push({
                name: checkAuthorizeRole('classroom-detail-task-generate-quiz'),
                params: {
                  id: this.classroomId,
                  contentId: this.contentId,
                  taskId: response.data.data.id,
                  task: response.data.data,
                },
              })
            } else {
              // redirect to classroom detail
              this.$router.push({
                name: checkAuthorizeRole('classroom-detail-task'),
                params: { id: this.classroomId, contentId: this.contentId },
              })
            }
          })
          .catch((error) => {
            this.isLoading = false

            // show success toast
            this.showToast(
              'danger',
              'XIcon',
              'Gagal',
              error.response.data.message
            )
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@core/scss/vue/libs/vue-flatpicker.scss';

.line-height-small {
  line-height: 1.5rem;
}

.small-gap-right {
  margin-right: 8px;
}

.small-gap-top {
  margin-top: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.regular-icon {
  top: 0 !important;
  font-size: 1.2rem;
}

.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}

.card-icon-lg {
  top: 0 !important;
  font-size: 2.5rem;
}

.border-light-secondary {
  border: 1px solid #efefef !important;
}

.pointer {
  cursor: pointer;
}

.is-invalid {
  border-color: #ea5455 !important;
}

.preview-material {
  max-height: 200px;
  object-fit: fill;
}

.preview-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 2rem;
}

.vertical-scrollable > .row {
  position: relative;
  height: calc(100vh - 330px);
  width: 100%;
  overflow-y: scroll;
}

.active-material-type {
  border-width: 2px !important;
}

.drop-file {
  cursor: pointer;
  box-shadow: none !important;
  background-color: transparent !important;
  border: 2px dashed #d3d3d3 !important;
  border-radius: 0.428rem !important;
}
.card-material-type {
  cursor: pointer;
}

.remove-button-x {
  padding: 10px 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.bg-drop-file {
  background-color: #c9ffe7 !important;
}
</style>
