<template>
  <!-- Multiple Choice Submission -->
  <div>
    <!-- Multiple Choice Submission Card Header -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1"
    >
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-success">
            <i class="card-icon ti ti-list-check "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <span class="text-muted ">Pilihan Ganda </span>
              <h6 class="font-weight-bolder small-gap-bottom">
                Tugas : {{ taskData.task.title }}
              </h6>
            </div>
          </div>

          <b-card-text>
            {{ taskData.task.description }}
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- Multiple Choice -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary p-1 mb-1 "
      v-for="quiz in allQuiz"
      :key="quiz.questionId"
    >
      <b-row>
        <b-col md="12">
          <!-- Exam Detail -->
          <div v-if="false" class="d-flex justify-content-between mb-2">
            <!-- Teacher Info -->
            <div>
              <h6 class="font-weight-bolder small-gap-bottom">
                Guru Kelas
              </h6>
              <b-media vertical-align="center">
                <template #aside>
                  <b-avatar
                    size="32"
                    src="/img/13-small.d796bffd.png"
                    text="avatarText('Bambang')"
                    variant="`light-primary`"
                  />
                </template>
                <span class="font-weight-bold d-block text-nowrap">
                  Sukmadi, S.Pd.
                </span>
                <small class="text-muted">NIP. 1404591288123</small>
              </b-media>
            </div>

            <!-- Class Info -->
            <div>
              <h6 class="font-weight-bolder small-gap-bottom">
                Kelas
              </h6>
              <span>
                Geografi
              </span>
            </div>

            <!-- Progress Info -->
            <div class="w-30">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bolder small-gap-bottom">
                  Progress
                </h6>
                <h6 class="font-weight-bolder small-gap-bottom">
                  05:00 Menit / 2 Jam
                </h6>
              </div>
              <b-progress class="small-gap-top" value="2" max="100" />
            </div>
          </div>

          <!-- Exam Content -->
          <div>
            <h6 class="font-weight-bolder small-gap-bottom">
              Pertanyaan
            </h6>

            <!-- Exam Question -->
            <div class="d-flex mb-1">
              <b-avatar class="small-gap-right" variant="primary">
                {{ quiz.questionNumber }}
              </b-avatar>
              <p class="font-weight-normal">
                {{ quiz.question }}
              </p>
            </div>

            <!-- Exam Answer -->
            <div class="exam-answer-options">
              <b-form-group v-for="option in quiz.options" :key="option.id">
                <b-input-group class="small-gap-bottom">
                  <b-input-group-prepend is-text>
                    <b-form-radio
                      v-model="quiz.answer"
                      :value="option.id"
                      plain
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    readonly
                    :value="option.text"
                    @click="quiz.answer = option.id"
                  />
                </b-input-group>
              </b-form-group>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-card>

    <b-col md="12" class="border-top pt-1 my-1">
      <div class="d-flex justify-content-end">
        <b-button variant="warning" class="ml-1">
          <i class="align-middle ti ti-plus small-gap-right"></i>
          <span class="align-middle ">Tambah Soal</span>
        </b-button>
        <b-button variant="primary" class="ml-1" @click="submitForm">
          <b-spinner
            v-if="componentLoading"
            class="mr-1"
            variant="light"
            small
          />
          <i
            v-if="!componentLoading"
            class="align-middle ti ti-device-floppy small-gap-right"
          ></i>
          <span class="align-middle ">Simpan</span>
        </b-button>
      </div>
    </b-col>
  </div>
</template>

<script>
import axios from 'axios'
import { checkAuthorizeRole } from '@/auth/utils'

import {
  BBadge,
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BInputGroup,
  BFormInput,
  BFormRadio,
  BInputGroupPrepend,
  BAvatar,
  BMedia,
  BProgress,
  BFormGroup,
  BSpinner,
} from 'bootstrap-vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import quizExample from './quizExample'

export default {
  components: {
    BBadge,
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BInputGroup,
    BFormInput,
    BFormRadio,
    BInputGroupPrepend,
    BAvatar,
    BMedia,
    BProgress,
    BFormGroup,
    BSpinner,
  },
  data() {
    return {
      // state
      isLoading: true,
      componentLoading: false,

      // default data
      classroomId: this.$router.currentRoute.params.id,
      contentId: this.$router.currentRoute.params.contentId,
      taskData: {},
      // Quiz Data
      allQuiz: [],
    }
  },
  created() {
    this.allQuiz = quizExample
    this.taskData = JSON.parse(localStorage.getItem('taskData'))
  },
  methods: {
    showToast(variant, icon, title, message) {
      this.$toast({
        component: ToastificationContent,
        props: {
          title,
          icon,
          text: message,
          variant,
        },
      })
    },
    async submitForm() {
      const url = 'https://636ba2daad62451f9fb76ca7.mockapi.io/quiz'

      const data = {
        task_id: this.taskData.task.id,
        quiz_type: JSON.parse(this.taskData.task.content).content_type,
        quiz_content: this.allQuiz,
      }

      this.componentLoading = true
      await axios
        .post(url, data)
        .then((response) => {
          // show success toast
          this.showToast(
            'success',
            'Check',
            'Berhasil',
            'Tugas berhasil ditambah'
          )

          // delete local storage data
          // localStorage.removeItem('taskData')
          this.componentLoading = false

          // redirect to classroom detail
          this.$router.push({
            name: checkAuthorizeRole('classroom-detail-task'),
            params: { id: this.classroomId, contentId: this.contentId },
          })
        })
        .catch((error) => {
          this.componentLoading = false
          console.log(error)
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.extra-small-gap-bottom {
  margin-bottom: 4px;
}

.small-gap-right {
  margin-right: 8px;
}

.small-gap-bottom {
  margin-bottom: 8px;
}

.small-gap-top {
  margin-top: 8px;
}

.round-button {
  padding: 0.2%;
  margin: 0.7%;
  font-size: 0.7rem;
  height: 2.5rem;
  width: 2.5rem;
}

.w-30 {
  width: 30%;
}

.exam-answer-options .form-control[readonly] {
  cursor: pointer;
  background-color: white !important;
}
</style>
