<template>
  <!-- Essay Submission -->
  <div>
    <!-- Essay Submission Card Header -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1"
    >
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-info">
            <i class="card-icon ti ti-notes "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <b-card-subtitle class="text-muted ">Esai </b-card-subtitle>
              <b-card-title class="font-weight-bolder small-gap-bottom">
                Tugas 3 : Apa itu Geografi</b-card-title
              >
            </div>
          </div>

          <b-card-text>
            Donec sed erat ut magna suscipit mattis. Aliquam erat volutpat.
            Morbi in orci risus. Donec pretium fringilla blandit. Etiam ut
            accumsan leo. Aliquam id mi quam. Vivamus dictum ut erat nec congue.
            Etiam facilisis lacus ut arcu vulputate, non pellentesque sem
            convallis. Proin tempus sapien nisl, nec varius risus tristique a.
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- Essay -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1 p-1"
    >
      <b-row>
        <b-col md="8">
          <!-- Exam Detail -->
          <div class="d-flex justify-content-between mb-2">
            <!-- Teacher Info -->
            <div>
              <h6 class="font-weight-bolder small-gap-bottom">
                Guru Kelas
              </h6>
              <b-media vertical-align="center">
                <template #aside>
                  <b-avatar
                    size="32"
                    src="/img/13-small.d796bffd.png"
                    text="avatarText('Bambang')"
                    variant="`light-primary`"
                  />
                </template>
                <span class="font-weight-bold d-block text-nowrap">
                  Sukmadi, S.Pd.
                </span>
                <small class="text-muted">NIP. 1404591288123</small>
              </b-media>
            </div>

            <!-- Class Info -->
            <div>
              <h6 class="font-weight-bolder small-gap-bottom">
                Kelas
              </h6>
              <span>
                Geografi
              </span>
            </div>

            <!-- Progress Info -->
            <div class="w-30">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bolder small-gap-bottom">
                  Progress
                </h6>
                <h6 class="font-weight-bolder small-gap-bottom">
                  05:00 Menit / 2 Jam
                </h6>
              </div>
              <b-progress class="small-gap-top" value="2" max="100" />
            </div>
          </div>

          <!-- Exam Content -->
          <div>
            <h6 class="font-weight-bolder small-gap-bottom">
              Pertanyaan
            </h6>

            <!-- Exam Question -->
            <div class="d-flex small-gap-bottom">
              <b-avatar class="small-gap-right" variant="primary">
                02
              </b-avatar>
              <p class="font-weight-normal">
                {{ exam.question }}
              </p>
            </div>

            <!-- Exam Answer -->
            <span class="font-weight-bolder">Jawaban</span>
            <div class="exam-answer-options mt-1">
              <b-form-textarea
                id="textarea-no-resize"
                placeholder="Masukkan Jawaban Anda"
                rows="5"
                no-resize
              />
            </div>
          </div>
        </b-col>
        <b-col md="4">
          <div
            class="d-flex justify-content-between align-items-center small-gap-bottom"
          >
            <h6 class="font-weight-bolder mb-0">
              Nomor Soal
            </h6>
            <b-badge variant="light-secondary">
              Senin 10 Oktober 2022, 10:00 WIB
            </b-badge>
          </div>

          <!-- Exam Navigation -->
          <div>
            <b-row>
              <b-col>
                <div class="d-flex flex-wrap">
                  <b-button
                    class="round-button text-center"
                    v-for="(nav, index) in examNavigations"
                    :key="index"
                    :variant="getExamNavigationVariant(nav)"
                    size="sm"
                    pill
                  >
                    {{ index + 1 < 10 ? `0${index + 1}` : index + 1 }}
                  </b-button>
                </div>
              </b-col>
            </b-row>
            <b-row class="mt-1">
              <b-col>
                <div class="d-flex justify-content-around">
                  <b-badge class="px-1" variant="warning">Ditandai</b-badge>
                  <b-badge class="px-1" variant="secondary">Dijawab</b-badge>
                  <b-badge class="px-1" variant="danger">Belum Dijawab</b-badge>
                  <b-badge class="px-1" variant="primary">Sekarang</b-badge>
                </div>
              </b-col>
            </b-row>
          </div>
        </b-col>
        <b-col md="12" class="border-top pt-1 mt-1">
          <div class="d-flex justify-content-start">
            <b-button variant="outline-primary">
              <i class="align-middle ti ti-arrow-left"></i>
              <span class="align-middle ml-1">Kembali</span>
            </b-button>
            <b-button variant="warning" class="ml-1">
              <i class="align-middle ti ti-star"></i>
              <span class="align-middle ml-1">Tandai</span>
            </b-button>
            <b-button variant="primary" class="ml-1">
              <span class="align-middle mr-1">Selanjutnya</span>
              <i class="align-middle ti ti-arrow-right"></i>
            </b-button>
          </div>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import {
  BBadge,
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BAvatar,
  BMedia,
  BProgress,
  BFormTextarea,
} from 'bootstrap-vue'

export default {
  components: {
    BBadge,
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BAvatar,
    BMedia,
    BProgress,
    BFormTextarea,
  },
  data() {
    return {
      // Exam Data
      examNavigations: [
        {
          questionId: 1,
          questionNumber: 1,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 2,
          questionNumber: 2,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 3,
          questionNumber: 3,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 4,
          questionNumber: 4,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 5,
          questionNumber: 5,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 6,
          questionNumber: 6,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 7,
          questionNumber: 7,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 8,
          questionNumber: 8,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 9,
          questionNumber: 9,
          isAnswered: false,
          isMarked: false,
        },
        {
          questionId: 10,
          questionNumber: 10,
          isAnswered: false,
          isMarked: false,
        },
      ],
      exam: {
        questionNumber: 2,
        questionId: 2,
        question:
          'Secara fisiografis, wilayah laut Indonesia dibagi menjadi tiga wilayah yaitu Paparan Sunda, Paparan Sahul, dan zona transisi. Paparan Sunda terletak di bagian barat Indonesia dengan ciri … dan meliputi daerah perairan … ',
        options: [
          {
            id: 1,
            text: 'Terdapat palung; Laut Banda dan Laut Aru',
            isSelected: false,
          },
          {
            id: 2,
            text: 'Laut dalam; Laut Jawa dan Selat Malaka',
            isSelected: false,
          },
          {
            id: 3,
            text: 'Laut dangkal; Laut Jawa dan Laut Banda',
            isSelected: false,
          },
          {
            id: 4,
            text: 'Terdapat palung; Laut Jawa dan Laut Cina Selatan',
            isSelected: false,
          },
          {
            id: 5,
            text: 'Laut dangkal; Selat Malaka dan Laut Cina Selatan',
            isSelected: false,
          },
        ],
        answer: null,
      },
    }
  },
  methods: {
    getExamNavigationVariant(nav) {
      if (nav.questionNumber <= this.exam.questionNumber) {
        // if current question
        if (nav.questionNumber === this.exam.questionNumber) {
          return 'primary'
        }

        // if marked or answered
        if (!nav.isMarked) {
          if (!nav.isAnswered) {
            return 'danger'
          }
          return 'secondary'
        }
        return 'warning'
      }
      return 'outline-primary'
    },
  },
}
</script>

<style></style>
