<template>
  <div>
    <!-- Submission Card Header -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1"
    >
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-warning">
            <i class="card-icon ti ti-file-upload "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <span class="text-muted">
                Unggah File
              </span>
              <h6 class="font-weight-bolder small-gap-bottom">
                Tugas : {{ classroomContent.task.title }}
              </h6>
            </div>
          </div>

          <b-card-text>
            {{ classroomContent.task.description }}
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- File Submission -->
    <div v-if="taskCategory === 'file'">
      <!-- Link and File Upload -->
      <b-card>
        <!-- Link Video Input -->
        <b-form-group hidden>
          <label class="d-block">Link Upload</label>
          <b-form-input
            hidden
            placeholder="Masukan Link Video : eg. https://www.youtube.com/watch?v=1"
            :state="formErrors.uploadLink.state"
          />
          <b-form-invalid-feedback v-show="!formErrors.uploadLink.state">
            {{ formErrors.uploadLink.message }}
          </b-form-invalid-feedback>
        </b-form-group>

        <!-- Dropzone Input -->
        <label class="d-block">Upload File</label>
        <div v-if="filelist.length === 0" class="drop-file-con">
          <b-card
            class="drop-file p-4 mt-2"
            @dragover="dragover"
            @dragleave="dragleave"
            @drop="drop"
          >
            <div class="d-flex flex-column align-items-center">
              <b-avatar size="lg" rounded="sm" variant="light-primary">
                <i class="card-icon-lg ti ti-file-upload"></i>
              </b-avatar>
              <h3 class="pt-1 small-gap-bottom">
                Seret file di sini
              </h3>
              <span class="small-gap-bottom">
                (Format file yang didukung: .pdf, .doc, .docx, .xsl, .xslx,
                .ppt, .pptx)
              </span>
              <b-button variant="primary" @click="$refs.file.click()">
                Upload File</b-button
              >
            </div>
          </b-card>
        </div>

        <!-- Display Selected File -->
        <b-row v-show="filelist.length != 0">
          <b-col lg="2">
            <b-card
              class="border-light-secondary d-flex flex-column text-center"
              v-for="(file, index) in filelist"
              :key="index"
            >
              <b-button
                class="remove-button-x"
                variant="danger"
                size="sm"
                @click="remove(index)"
              >
                <i class="ti ti-x"></i>
              </b-button>
              <b-avatar rounded :variant="fileType(getExtension(file.name))">
                <span class="p-2"> {{ getExtension(file.name) }}</span>
              </b-avatar>
              <div class="mt-1">
                <span>
                  {{ ellipsis(file.name) }}
                </span>
              </div>
            </b-card>

            <!-- Hidden Input -->
            <input
              ref="file"
              hidden
              type="file"
              accept=".pdf,.doc, .docx,.ppt, .pptx,.xls, .xlsx"
              @change="onChange()"
            />
          </b-col>
        </b-row>
      </b-card>

      <!-- Save Button -->
      <div class="text-right mb-2">
        <b-button variant="primary" @click="submitForm">
          <i
            class="regular-icon align-middle ti ti-checklist small-gap-right"
          />
          <span class="align-middle">Simpan</span>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BAlert,
  BAvatar,
} from 'bootstrap-vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BAlert,
    BAvatar,
  },
}
</script>

<style></style>
