<template>
  <!-- Multiple Choice Submission -->
  <div>
    <!-- Multiple Choice Submission Card Header -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1"
    >
      <div class="d-flex">
        <div class="mr-1">
          <b-avatar rounded="lg" variant="light-success">
            <i class="card-icon ti ti-list-check "></i>
          </b-avatar>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ">
              <span class="text-muted ">Pilihan Ganda </span>
              <h6 class="font-weight-bolder small-gap-bottom">
                Tugas : {{ contentData.task.title }}
              </h6>
            </div>
          </div>

          <b-card-text>
            {{ contentData.task.description }}
          </b-card-text>
        </div>
      </div>
    </b-card>

    <!-- Multiple Choice -->
    <b-card
      bg-variant="transparent"
      class="material-card border-light-secondary mb-1 p-1"
    >
      <b-row>
        <b-col md="8">
          <!-- Exam Detail -->
          <div class="d-flex justify-content-between mb-2">
            <!-- Teacher Info -->
            <div>
              <h6 class="font-weight-bolder small-gap-bottom">
                Guru Kelas
              </h6>
              <b-media vertical-align="center">
                <template #aside>
                  <b-avatar
                    size="32"
                    src="/img/13-small.d796bffd.png"
                    text="avatarText('Bambang')"
                    variant="`light-primary`"
                  />
                </template>
                <span class="font-weight-bold d-block text-nowrap">
                  Sukmadi, S.Pd.
                </span>
                <small class="text-muted">NIP. 1404591288123</small>
              </b-media>
            </div>

            <!-- Class Info -->
            <div>
              <h6 class="font-weight-bolder small-gap-bottom">
                Kelas
              </h6>
              <span>
                Geografi
              </span>
            </div>

            <!-- Progress Info -->
            <div class="w-30">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bolder small-gap-bottom">
                  Progress
                </h6>
                <h6 class="font-weight-bolder small-gap-bottom">
                  05:00
                </h6>
              </div>
              <b-progress class="small-gap-top" value="2" max="100" />
            </div>
          </div>

          <!-- Exam Content -->
          <div>
            <h6 class="font-weight-bolder small-gap-bottom">
              Pertanyaan
            </h6>

            <!-- Exam Question -->
            <div class="d-flex mb-1">
              <b-avatar class="small-gap-right" variant="primary">
                {{ currentPageQuiz.questionNumber }}
              </b-avatar>
              <p class="font-weight-normal">
                {{ currentPageQuiz.question }}
              </p>
            </div>

            <!-- Exam Answer -->
            <div class="exam-answer-options">
              <b-form-group
                v-for="option in currentPageQuiz.options"
                :key="option.id"
              >
                <b-input-group class="small-gap-bottom">
                  <b-input-group-prepend is-text>
                    <b-form-radio
                      v-model="currentPageQuiz.answer"
                      :value="option.id"
                      plain
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    @click="currentPageQuiz.answer = option.id"
                    readonly
                    :value="option.text"
                  />
                </b-input-group>
              </b-form-group>
            </div>
          </div>
        </b-col>
        <b-col md="4">
          <div
            class="d-flex justify-content-between align-items-center small-gap-bottom"
          >
            <h6 class="font-weight-bolder mb-0">
              Nomor Soal
            </h6>

            <!-- Quiz Start Date -->
            <!-- <b-badge variant="light-secondary">
              Senin 10 Oktober 2022, 10:00 WIB
            </b-badge> -->
          </div>

          <!-- Exam Navigation -->
          <div>
            <b-row>
              <b-col>
                <div class="d-flex flex-wrap">
                  <b-button
                    class="round-button text-center"
                    v-for="(nav, index) in quizNavigations"
                    :key="index"
                    :variant="getQuizNavigationVariant(nav)"
                    size="sm"
                    pill
                    @click="navigateToQuiz(index)"
                  >
                    {{ index + 1 < 10 ? `0${index + 1}` : index + 1 }}
                  </b-button>
                </div>
              </b-col>
            </b-row>
            <b-row class="mt-1">
              <b-col>
                <div class="d-flex justify-content-around">
                  <b-badge class="px-1" variant="warning">Ditandai</b-badge>
                  <b-badge class="px-1" variant="secondary">Dijawab</b-badge>
                  <b-badge class="px-1" variant="danger">Belum Dijawab</b-badge>
                  <b-badge class="px-1" variant="primary">Sekarang</b-badge>
                </div>
              </b-col>
            </b-row>
          </div>
        </b-col>

        <!-- Action Button -->
        <b-col md="12" class="border-top pt-1 mt-1">
          <div class="d-flex justify-content-start">
            <b-button
              v-show="!currentQuizIndex == 0"
              @click="paginate(-1)"
              variant="outline-primary"
            >
              <i class="align-middle ti ti-arrow-left"></i>
              <span class="align-middle ml-1">Kembali</span>
            </b-button>
            <b-button variant="warning" class="ml-1" @click="markQuiz">
              <i class="align-middle ti ti-star"></i>
              <span class="align-middle ml-1">Tandai</span>
            </b-button>
            <b-button variant="primary" class="ml-1" @click="paginate(1)">
              <span class="align-middle mr-1">Selanjutnya</span>
              <i class="align-middle ti ti-arrow-right"></i>
            </b-button>
          </div>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import {
  BBadge,
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BInputGroup,
  BFormInput,
  BFormRadio,
  BInputGroupPrepend,
  BAvatar,
  BMedia,
  BProgress,
  BFormGroup,
} from 'bootstrap-vue'

export default {
  components: {
    BBadge,
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BInputGroup,
    BFormInput,
    BFormRadio,
    BInputGroupPrepend,
    BAvatar,
    BMedia,
    BProgress,
    BFormGroup,
  },
  props: {
    contentData: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    currentPageQuiz() {
      return this.allQuiz[this.currentQuizIndex]
    },
    currentQuizIndex() {
      return this.quizIndex
    },
  },
  data() {
    return {
      // default data
      classroomId: this.$router.currentRoute.params.id,
      contentId: this.$router.currentRoute.params.contentId,
      taskId: this.$router.currentRoute.params.taskId,

      // Exam Data
      quizIndex: 0,
      quizNavigations: [],

      // TODO: dipisah per request ya nanti
      allQuiz: [],
    }
  },
  methods: {
    generateNavigtionState() {
      const navigations = []
      for (let i = 0; i < this.allQuiz.length; i++) {
        navigations.push({
          questionId: this.allQuiz[i].questionId,
          questionNumber: i + 1,
          isAnswered: false,
          isMarked: false,
        })
      }
      this.quizNavigations = navigations
    },
    getQuizNavigationVariant(nav) {
      if (nav.questionNumber <= this.currentPageQuiz.questionNumber) {
        // if current question
        if (nav.questionNumber === this.currentPageQuiz.questionNumber) {
          return 'primary'
        }

        // if marked or answered
        if (!nav.isMarked) {
          if (!nav.isAnswered) {
            return 'danger'
          }
          return 'secondary'
        }
        return 'warning'
      }
      return 'outline-primary'
    },
    checkIfAnswered() {
      const quiz = this.allQuiz[this.currentQuizIndex]
      if (quiz.answer) {
        this.quizNavigations[this.currentQuizIndex].isAnswered = true
      }
    },
    paginate(paginate) {
      this.checkIfAnswered()
      this.quizIndex += paginate
    },

    navigateToQuiz(index) {
      this.checkIfAnswered()

      this.quizIndex = index
    },
    markQuiz() {
      this.quizNavigations[this.currentQuizIndex].isMarked = true
    },
  },
  async created() {
    const url = `https://636ba2daad62451f9fb76ca7.mockapi.io/quiz?task_id=${this.taskId}`

    await axios.get(url).then((response) => {
      console.log(response.data)
      this.allQuiz = response.data[0].quiz_content
      this.generateNavigtionState()
    })
  },
}
</script>

<style></style>
