<template>
  <b-card>
    <div class="d-flex">
      <div class="mr-1">
        <b-avatar rounded="lg" :variant="taskType.variant">
          <i class="card-icon" :class="taskType.icon" />
        </b-avatar>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column ">
            <span class="text-muted ">{{ taskType.title }}</span>
            <h6 class="font-weight-bolder small-gap-bottom">
              {{ task.title }}
            </h6>
          </div>
        </div>

        <b-card-text>
          {{ task.description }}
        </b-card-text>
      </div>
    </div>
    <div
      class="d-flex align-items-center pt-1 mt-1 justify-content-between border-top"
    >
      <span class="text-muted">
        {{ localizeISODate(task.created_at, 'ID-id') }}
      </span>
      <b-button
        :to="{
          name: checkAuthorizeRole('classroom-detail-task-submission'),
          params: {
            id: realClassroomId, // TODO: realClassroom Prablem : Revert his
            contentId: contentId,
            taskId: task.id,
          },
        }"
        class="d-flex align-items-center"
        variant="outline-primary"
      >
        Kerjakan
        <i
          class="regular-icon align-middle ti ti-chevron-right small-gap-right"
        />
      </b-button>

      <!-- <b-button
        class="d-flex align-items-center"
        variant="outline-secondary"
        disabled
      >
        <i class="regular-icon align-middle ti ti-check small-gap-right" />
        Dikerjakan
      </b-button> -->
    </div>
  </b-card>
</template>

<script>
import { localizeISODate } from '@core/utils/filter'
import { checkAuthorizeRole } from '@/auth/utils'

import {
  BRow,
  BCol,
  BCard,
  BButton,
  BCardText,
  BAlert,
  BAvatar,
} from 'bootstrap-vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    BCardText,
    BAlert,
    BAvatar,
  },
  props: {
    task: {
      type: Object,
      required: true,
    },
    realClassroomId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      // default data
      // classroomId: this.$router.currentRoute.params.id,
      contentId: this.$router.currentRoute.params.contentId,
    }
  },
  computed: {
    taskType() {
      const taskType = {
        file: {
          title: 'Unggah File',
          icon: 'ti ti-file-upload',
          variant: 'light-warning',
        },
        multiplechoice: {
          title: 'Pilihan Ganda',
          icon: 'ti ti-list-check',
          variant: 'light-success',
        },
        essay: {
          title: 'Essay',
          icon: 'ti ti-notes',
          variant: 'light-danger',
        },
      }

      const content = JSON.parse(this.task.content)
      return taskType[content.content_type]
    },
  },
  methods: {
    localizeISODate,
    checkAuthorizeRole,
  },
}
</script>

<style lang="scss" scoped>
.card-icon {
  top: 0 !important;
  font-size: 1.5rem;
}
</style>
